@media all and (min-width: 992px) {
  .navbar .dropdown-menu-end{ right:0; left: auto;  }
  .navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
  .navbar .nav-item:hover .nav-link{ color: #fff;  }
  .navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
  .navbar .dropdown-menu.fade-up{ top:180%;  }
  .navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); } 
}

@media screen and (-webkit-min-device-pixel-ratio:0) 
{ 
}
@media only screen and (min-width: 2701px) and (max-width: 4000px) 
{
}
@media only screen and (min-width: 2001px) and (max-width: 2700px) 
{

}
@media only screen and (min-width: 1681px) and (max-width: 2000px) 
{

}
@media only screen and (min-width: 1441px) and (max-width: 1680px) 
{
.home-part2-main:after {width: 1100px; height: 1100px; top: -56%; left: -20%; }
.home-part3-main:after {right: -13%; top: -2%; width: 1580px; height: 1790px; }
.home-part4-inner {padding: 130px 215px 125px 215px; }
.home-part4-main:after {left: 2%; top: 0; width: 1420px; height: 1420px; }

.eintag-part1-main:after {width: 1430px; height: 1430px; }
.eintag-part3-main:after {width: 1215px; height: 1215px; }
.eintag-part5-inner:after {right: 30%; }
}
@media only screen and (min-width: 1367px) and (max-width: 1440px) 
{
.home-part2-main:after {width: 1100px; height: 1100px; top: -56%; left: -20%; }
.home-part3-main:after {right: -13%; top: -2%; width: 1485px; height: 1790px; }
.home-part4-inner {padding: 130px 215px 125px 215px; }
.home-part4-main:after {left: 2%; top: 0; width: 1280px; height: 1280px; }
.hmprt4-row1 {margin-bottom: 80px; }
.hmprt4-row1 h2 {margin: 0 0 40px; }
.hmprt1-slide-cont h2 {font-size: 45px; line-height: 50px; }
.hmprt1-slide-img {height: 640px; }
.hmprt4-row3 {bottom: -9%; right: 0; }

.eintag-part1-main:after {width: 1310px; height: 1430px; }
.eintag-part3-main:after {width: 1215px; height: 1215px; }
.einprt1-row1 h2 {font-size: 40px; line-height: 43px; }
.einprt1-row3-inner h3 {font-size: 40px; line-height: 43px;}
.einprt2-left-row2 h3 {font-size: 40px; line-height: 43px;}
.einprt3-row2-right h3 { font-size: 40px; line-height: 43px; }
.einprt4-left h3 { font-size: 40px; line-height: 43px; }
.eintag-part5-inner:after {right: 30%; }
.eintag-part1-inner:after { bottom: -21%; }
.einprt1-row2-right {padding: 11% 0 0 10%; }
.einprt3-row1-right h3 { font-size: 40px; line-height: 43px; }
.eintag-part3-inner:after {width: 666px; height: 805px; bottom: -20%; right: 31%; }
.eintag-part4-inner:after {width: 629px; height: 760px; bottom: -15%; right: 28%; }
.einprt5-right h3 { font-size: 40px; line-height: 43px; }
.einprt6-left h3 { font-size: 40px; line-height: 43px; }
.einprt7-right h3 { font-size: 40px; line-height: 43px; }
.einprt8-left h3 { font-size: 40px; line-height: 43px; }
.einprt9-right .einprt9-row2 h3 { font-size: 40px; line-height: 43px; }
.einprt10-left .einprt10-left-row2 h3 { font-size: 40px; line-height: 43px; }
.eintag-part10-main:after {width: 1567px; }
.eintag-part7-inner:after {left: 30%; top: 21%; width: 162px; height: 748px; }
.eintag-part8-inner:after { left: 22%; top: 23%; width: 613px; height: 847px; }
.einprt8-row1-inner {width: 175px; }
.einprt8-row1 {margin-left: 18%; }
.time-stamp {width: 95px; }
}
@media only screen and (min-width: 1281px) and (max-width: 1366px) 
{
.home-part2-main:after {width: 1035px; height: 1035px; top: -60%; left: -20%; }
.home-part3-main:after {right: -13%; top: -2%; width: 1370px; height: 1730px; }
.home-part3-main {padding: 200px 0 115px; }
.home-part4-inner {padding: 130px 215px 125px 215px; }
.home-part4-main:after {left: 2%; top: 0; width: 1280px; height: 1280px; }
.hmprt4-row1 {margin-bottom: 80px; }
.hmprt4-row1 h2 {margin: 0 0 40px; }
.hmprt1-slide-cont h2 {font-size: 45px; line-height: 50px; }
.hmprt1-slide-img {height: 640px; }
.hmprt4-row3 {bottom: -9%; right: 0; }
.hmprt3-row2-left h5 {margin: 0 0 25px; }
.hmprt3-row2-left p {margin: 0 0 25px; }
.hmprt3-row2-left ul {margin: 0 0 20px; }
.home-part4-main {margin-bottom: 210px; }

.eintag-part1-main:after {width: 1265px; height: 1430px; }
.eintag-part3-main:after {width: 1215px; height: 1215px; }
.einprt1-row1 {margin: 0 80px 0; }
.einprt1-row2 {margin: -80px 95px 0 15px; }
.einprt1-row1 p {font-size: 15px; line-height: 22px; }
.einprt1-row1 h2 {font-size: 37px; line-height: 40px; }
.einprt1-row3-inner h3 {font-size: 37px; line-height: 40px;}
.einprt2-left-row2 h3 {font-size: 37px; line-height: 40px;}
.einprt3-row2-right h3 { font-size: 37px; line-height: 40px; }
.einprt4-left h3 { font-size: 37px; line-height: 40px; }
.eintag-part5-main:after {top: -3%; right: -2%; width: 1150px; height: 1274px; }
.einprt6-row1-inner {width: 145px; }
.eintag-part6-inner:after {right: 20%; top: 19%; width: 453px; height: 750px; }
.einprt6-left {padding-top: 35px; }
.einprt7-row1-inner {width: 135px; }
.eintag-part7-main:after {top: 5%; left: -6%; width: 1200px; height: 1200px; }
.einprt7-row1 {margin: 100px 0 50px; }
.eintag-part5-inner:after {right: 30%; height: 670px;}
.eintag-part1-inner:after { bottom: -20%; width: 635px; height: 573px; right: 14%;}
.einprt1-row2-right {padding: 11% 0 0 10%; }
.einprt3-row1-right h3 { font-size: 37px; line-height: 40px; }
.eintag-part3-inner:after {width: 666px; height: 805px; bottom: -17%; right: 27%; }
.eintag-part4-inner:after {    width: 629px; height: 760px; bottom: -10%; right: 28%; }
.einprt5-right h3 { font-size: 37px; line-height: 40px; }
.einprt6-left h3 { font-size: 37px; line-height: 40px; }
.einprt7-right h3 { font-size: 37px; line-height: 40px; }
.einprt8-left h3 { font-size: 37px; line-height: 40px; }
.einprt9-right .einprt9-row2 h3 { font-size: 37px; line-height: 40px; }
.einprt10-left .einprt10-left-row2 h3 { font-size: 37px; line-height: 40px; }
.eintag-part10-main:after {width: 1460px; }
.eintag-part7-inner:after {left: 30%; top: 18%; width: 162px; height: 718px; }
.eintag-part8-inner:after {     left: 21%; top: 20%; width: 595px; height: 820px; }
.einprt8-row1-inner {width: 175px; }
.einprt8-row1 {margin-left: 18%; margin-top: 50px;}
.time-stamp {width: 95px; }
.einprt5-row1-inner {width: 150px; }
.einprt7-row3 {bottom: 0; }
.eintag-part9-inner {padding: 0 11% 0 25%; }
.eintag-part9-main {margin-top: 40px; }
}
@media only screen and (min-width: 1046px) and (max-width: 1280px) 
{
.home-part2-main:after {width: 950px; height: 950px; top: -60%; left: -20%; }
.home-part3-main:after {right: -13%; top: 0; width: 1285px; height: 1410px; }
.home-part3-main {padding: 150px 0 115px; }
.hmprt3-row1 {margin: 0 0 65px; }
.hmprt3-row1 h2 {font-size: 40px; line-height: 40px; }
.hmprt2-left-ttl h3 { font-size: 40px; line-height: 40px; }
.hmprt3-row2-left {width: 33%; margin-right: 10%; }
.hmprt3-slide-img {height: 430px; }
.home-part4-inner {padding: 130px 215px 60px 215px; }
.home-part4-main:after {left: 2%; top: 0; width: 1100px; height: 1100px; }
.hmprt4-row1 {margin-bottom: 50px; }
.hmprt4-row1 h2 {margin: 0 0 30px; font-size: 40px; line-height: 40px;}
.hmprt1-slide-cont h2 {font-size: 45px; line-height: 50px; }
.hmprt1-slide-img {height: 600px; }
.hmprt1-slide-cont { padding: 240px 20px 160px; }
.hmprt4-row3 {bottom: -10%; right: 0; width: 375px; height: 375px; padding: 70px 40px;}
.hmprt3-row2-left h5 {margin: 0 0 20px; }
.hmprt3-row2-left p {margin: 0 0 20px; }
.hmprt3-row2-left ul {margin: 0 0 20px; }
.home-part4-main {margin-bottom: 175px; }
.hmprt2-left {margin-top: 50px; }
.hmprt2-right {margin-top: 55px; }
.hmprt4-icon {width: 70px; height: 70px; margin: 0 auto 20px; }
.hmprt4-icon h4 {line-height: 30px; font-size: 50px; }
.hmprt4-row3-inner h3 {font-size: 30px; line-height: 30px; margin: 0 0 20px; }
.hmprt4-row3-inner p {font-size: 15px; line-height: 21px; margin: 0 0 15px; }
.hmprt4-row3-inner a {font-size: 15px; line-height: 25px; }

.eintag-part1-main:after {width: 1230px; height: 1430px; }
.eintag-part3-main:after {width: 1150px; height: 1150px; }
.einprt1-row1 h2 {font-size: 37px; line-height: 40px; }
.einprt1-row3-inner h3 {font-size: 37px; line-height: 40px;}
.einprt2-left-row2 h3 {font-size: 37px; line-height: 40px;}
.einprt3-row2-right h3 { font-size: 37px; line-height: 40px; }
.einprt4-left h3 { font-size: 37px; line-height: 40px; }
.eintag-part2-inner:before {width: 100px; height: 640px; top: 18%; left: 25%; }
.eintag-part5-main:after {top: -3%; right: -2%; width: 1150px; height: 1274px; }
.einprt6-row1-inner {width: 145px; }
.eintag-part6-inner:after {right: 20%; top: 20%; width: 453px; height: 720px; }
.einprt6-left {padding-top: 15px;width: 27%; margin-right: 4.5%; }
.einprt7-row1-inner {width: 135px; }
.eintag-part7-main:after {top: 5%; left: -6%; width: 1200px; height: 1200px; }
.einprt7-row1 {margin: 100px 0 50px; }
.einprt7-right {padding-top: 30px; }
.eintag-part5-inner:after {right: 30%; height: 670px;}
.eintag-part1-inner:after { bottom: -20%; width: 635px; height: 573px; right: 9%;transform: rotate(-2deg);}
.einprt1-row2-right {padding: 11% 0 0 10%; }
.einprt3-row1-right h3 { font-size: 37px; line-height: 40px; }
.eintag-part3-inner:after {width: 650px; height: 850px; bottom: -22%; right: 27%; }
.eintag-part4-inner:after {    width: 629px; height: 760px; bottom: -10%; right: 28%; }
.einprt5-right h3 { font-size: 37px; line-height: 40px; }
.einprt6-left h3 { font-size: 37px; line-height: 40px; }
.einprt7-right h3 { font-size: 37px; line-height: 40px; }
.einprt8-left h3 { font-size: 37px; line-height: 40px; }
.einprt9-right .einprt9-row2 h3 { font-size: 37px; line-height: 40px; }
.einprt10-left .einprt10-left-row2 h3 { font-size: 37px; line-height: 40px; }
.eintag-part10-main:after {width: 1460px; }
.eintag-part7-inner:after {left: 30%; top: 18%; width: 162px; height: 718px; }
.eintag-part8-inner:after {left: 20%; top: 21%; width: 595px; height: 820px; }
.einprt8-row1-inner {width: 175px; }
.einprt8-row1 {margin-left: 18%; margin-top: 50px;}
.time-stamp {width: 95px; }
.einprt5-row1-inner {width: 150px; }
.einprt7-row3 {bottom: 0; }
.eintag-part9-inner {padding: 0 11% 0 25%; }
.eintag-part9-main {margin-top: 40px; }
.eintag-part9-inner:before {left: 15%; top: 11%; width: 650px; height: 785px; transform: rotate(-7deg); }
}
@media only screen and (min-width: 983px) and (max-width: 1045px) 
{
.home-part2-main:after {width: 950px; height: 950px; top: -60%; left: -20%; }
.home-part3-main:after {right: -13%; top: 0; width: 1285px; height: 1410px; }
.home-part3-main {padding: 150px 0 115px; }
.hmprt3-row1 {margin: 0 0 65px; }
.hmprt3-row1 h2 {font-size: 40px; line-height: 40px; }
.hmprt2-left-ttl h3 { font-size: 40px; line-height: 40px; }
.hmprt3-row2-left {width: 33%; margin-right: 10%; }
.hmprt3-slide-img {height: 430px; }
.home-part4-inner {padding: 130px 215px 60px 215px; }
.home-part4-main:after {left: 2%; top: 0; width: 1100px; height: 1100px; }
.hmprt4-row1 {margin-bottom: 50px; }
.hmprt4-row1 h2 {margin: 0 0 30px; font-size: 40px; line-height: 40px;}
.hmprt1-slide-cont h2 {font-size: 35px; line-height: 40px; }
.hmprt1-slide-img {height: 500px; }
.hmprt1-slide-cont { padding: 210px 20px 130px; }
.hmprt4-row3 {bottom: -10%; right: 0; width: 375px; height: 375px; padding: 70px 40px;}
.hmprt3-row2-left h5 {margin: 0 0 20px; }
.hmprt3-row2-left p {margin: 0 0 20px; }
.hmprt3-row2-left ul {margin: 0 0 20px; }
.home-part4-main {margin-bottom: 175px; }
.hmprt2-left {margin-top: 50px; }
.hmprt2-right {margin-top: 55px; }
.hmprt2-left-ttl h6 {font-size: 15px; line-height: 15px; margin: 0 0 5px; }
.hmprt2-left-ttl {margin-bottom: 25px; }
.glr-right-frst {margin-top: 70px; }
.hmprt2-right p {font-size: 15px; line-height: 20px; margin: 0 0 15px; }
.hmprt4-icon {width: 70px; height: 70px; margin: 0 auto 20px; }
.hmprt4-icon h4 {line-height: 30px; font-size: 50px; }
.hmprt4-row3-inner h3 {font-size: 30px; line-height: 30px; margin: 0 0 20px; }
.hmprt4-row3-inner p {font-size: 15px; line-height: 21px; margin: 0 0 15px; }
.hmprt4-row3-inner a {font-size: 15px; line-height: 25px; }
.home-part6-inner {height: 400px; }
.hmprt5-right h6 {font-size: 15px; line-height: 15px; margin: 0 0 5px; }
.hmprt5-right h3 {font-size: 35px; line-height: 35px; margin: 0 0 15px; }
.hmprt5-right p {font-size: 15px; line-height: 20px; }
.home-part5-inner {height: 440px; }
.hmprt5-top-img {height: 190px; width: 190px; left: 23%; top: 0; }
.hmprt5-left {width: 290px; height: 290px; bottom: 7%; left: 12%; }
.hmprt5-right {width: 420px; height: 420px; top: 0; right: 15%; padding: 7% 8%; }

.impre-part1-main:after {width: 1051px; height: 1051px; top: 0; }
.impre-part1-inner p {font-size: 15px; line-height: 21px; }

.eintag-part1-main:after {width: 970px; height: 1120px; }
.eintag-part1-inner:after {width: 480px; height: 450px; bottom: -22%; right: 18%; transform: rotate(2deg); }
.eintag-part3-main:after {width: 750px; height: 750px; }
.einprt1-row1 h2 {  font-size: 30px; line-height: 32px; margin: 0 0 20px; }
.einprt1-row1 p {font-size: 14px; line-height: 20px; }
.einprt1-row1 {margin: 0 80px 0; }
.eintag-part2-inner {margin: 100px 95px 0; }
.einprt1-row3-inner h3 { font-size: 30px; line-height: 32px; margin: 0 0 20px; }
.einprt1-row3-inner p {font-size: 14px; line-height: 20px;  }
.einprt2-left-row2 h3 { font-size: 30px; line-height: 32px; margin: 0 0 20px; }
.einprt2-left-row2 p {font-size: 14px; line-height: 20px; }
.eintag-part2-inner:before {width: 100px; height: 556px; top: 14%; left: 25%; }
.eintag-part5-main:after {top: -3%; right: -2%; width: 950px; height: 1050px; }
.einprt6-row1-inner {width: 145px; }
.eintag-part6-inner:after {right: 17%; top: 22%; width: 391px; height: 645px; }
.einprt6-left {padding-top: 15px;width: 27%; margin-right: 4.5%; }
.einprt7-row1-inner {width: 135px; }
.eintag-part7-main:after {top: 5%; left: -6%; width: 900px; height: 900px; }
.einprt7-row1 {margin: 100px 0 50px; }
.einprt7-right {padding-top: 30px; }
.eintag-part5-inner:after {right: 21%; height: 590px;}
.eintag-part1-inner:after {bottom: -20%; width: 460px; height: 457px; right: 16%; transform: rotate(-2deg); }
.einprt1-row2-right {padding: 11% 0 0 10%; }
.einprt3-row1-right h3 { font-size: 30px; line-height: 32px; margin: 0 0 20px;}
.einprt3-row1-right p {font-size: 14px; line-height: 20px; }
.eintag-part3-inner:after {width: 505px; height: 610px; bottom: -22%; right: 26%; transform: rotate(1deg); }
.einprt4-left h3 { font-size: 30px; line-height: 32px; margin: 0 0 20px; }
.einprt4-left p {font-size: 14px; line-height: 20px; }
.eintag-part4-inner:after {width: 566px; height: 665px; bottom: -11%; right: 24%;}
.einprt5-left-col4 {height: 315px; }
.einprt5-right h3 { font-size: 30px; line-height: 32px; margin: 0 0 20px; }
.einprt5-right p {font-size: 14px; line-height: 20px; }
.einprt6-left h3 { font-size: 30px; line-height: 32px; margin: 0 0 20px; }
.einprt6-left p {font-size: 14px; line-height: 20px; }
.einprt7-right h3 { font-size: 30px; line-height: 32px; margin: 0 0 20px; }
.einprt7-right p {font-size: 14px; line-height: 20px; }
.einprt8-left h3 { font-size: 30px; line-height: 32px; margin: 0 0 20px; }
.einprt8-left p {font-size: 14px; line-height: 20px; }
.einprt9-right .einprt9-row2 h3 { font-size: 30px; line-height: 32px; margin: 0 0 20px; }
.einprt9-right .einprt9-row2 p {font-size: 14px; line-height: 20px; }
.einprt10-left .einprt10-left-row2 h3 { font-size: 30px; line-height: 32px; margin: 0 0 20px; }
.einprt10-left .einprt10-left-row2 p {font-size: 14px; line-height: 20px; }
.eintag-part10-main:after {width: 1150px; }
.eintag-part7-inner:after {    left: 30%; top: 21%; width: 162px; height: 580px; }
.eintag-part8-inner:after {left: 23%; top: 23%; width: 450px; height: 625px; }
.einprt8-row1-inner {width: 175px; }
.einprt8-row1 {margin-left: 14%; margin-top: 50px;}
.time-stamp {width: 95px; }
.einprt5-row1-inner {width: 150px; margin-left: 2%;}
.einprt7-row3 {bottom: 0; }
.einprt7-left-inner {height: 265px; }
.einprt8-left-inner {padding-top: 370px; }
.einprt8-glr-left-frst {height: 280px; }
.einprt8-glr-left-scnd {height: 300px; }
.einprt8-right-glr-right {padding-top: 150px; }
.einprt8-glr-right-frst {height: 275px; }
.eintag-part9-inner {padding: 0 11% 0 25%; }
.eintag-part9-main {margin-top: 40px; }
.eintag-part9-inner:before {left: 14%; top: 13%; width: 540px; height: 650px; transform: rotate(-7deg); }
.einprt2-right-glr-left .glr-left-scnd {height: 350px; }
.einprt2-right-glr-right .glr-right-frst {height: 375px; }
.einprt3-glr-left {padding-top: 170px; }
.einprt3-right-frst {height: 285px; }
.einprt3-right-scnd {height: 275px; }
.einprt9-left {height: 585px; }
.einprt10-left-row1 {width: 135px; }
.einprt2-left-row1 {padding: 0 0 0 130px; }
}
@media only screen and (min-width: 960px) and (max-width: 982px)
{
.main-menu ul.navbar-nav {text-align: right; margin-top: 10px;}
.main-menu .navbar-nav .dropdown-menu {display: block; border: none; border-radius: 0; box-shadow: none; top: 0;}
.main-menu li.nav-item {margin-left: 0; border-left: none; padding: 0; }
.main-menu a.nav-link {padding: 0 0.5rem; line-height: 22px; font-weight: bold;}
.main-menu .dropdown-item {padding: 0 1rem; font-size: 16px; line-height: 20px; }
.main-menu .navbar-toggler-icon {line-height: 1.6; }
header.main-menu.is-sticky .navbar .navbar-brand img {width: 140px !important; }
header.main-menu.not-sticky .navbar .navbar-brand img {width: 140px !important; }
.main-menu .navbar-toggler {padding: 0; font-size: 33px; }
.main-menu .tpmn {right: 50px; top: 15px; text-align: left; }
.main-menu button.navbar-toggler:focus { outline: none; }
.home-part1-main {margin-top: 75px; }
.home-part2-main:after {width: 650px; height: 650px; top: -60%; left: -20%; }
.home-part3-main:after {right: -13%; top: 0; width: 910px; height: 1100px; }
.home-part3-main {padding: 150px 0 115px; }
.hmprt3-row1 {margin: 0 0 40px; }
.hmprt3-row1 h2 {font-size: 25px; line-height: 25px; }
.hmprt2-left-ttl h3 { font-size: 25px; line-height: 25px; }
.hmprt3-row2-left {width: 38%; margin-right: 5%; margin-left: 3%;}
.hmprt3-slide-img {height: 330px; }
.home-part4-inner {padding: 130px 75px 60px 50px; }
.home-part4-main:after {left: 2%; top: 0; width: 950px; height: 950px; }
.hmprt4-row1 {margin-bottom: 35px; }
.hmprt4-row1 h2 {margin: 0 0 15px; font-size: 25px; line-height: 25px;}
.hmprt1-slide-cont h2 {font-size: 25px; line-height: 30px; }
.hmprt1-slide-img {height: 400px; }
.hmprt1-slide-cont { padding: 160px 20px 120px; }
.hmprt4-row3 {bottom: 0; right: -15px; width: 270px; height: 270px; padding: 32px 30px; }
.hmprt4-contant {width: auto; }
.hmprt3-row2-left h5 {    margin: 0 0 10px; font-size: 15px; line-height: 20px; }
.hmprt3-row2-left p {margin: 0 0 10px; font-size: 15px; line-height: 18px;}
.hmprt3-row2-left ul {margin: 0 0 10px; }
.hmprt3-row2-left ul li { font-size: 15px; line-height: 18px; }
.hmprt3-row2-left a {line-height: 40px; }
.hmprt3-row2 {margin: 0 0 70px; }
.home-part4-main {margin-bottom: 75px; }
.hmprt2-left {margin-top: 30px; }
.hmprt2-right {margin-top: 35px; }
.hmprt2-left-ttl h6 {font-size: 15px; line-height: 15px; margin: 0 0 5px; }
.hmprt2-left-ttl {margin-bottom: 25px; }
.glr-right-frst {margin-top: 70px; }
.hmprt2-right p {font-size: 12px; line-height: 15px; margin: 0 0 8px; }
.hmprt2-right h5 {font-size: 15px; line-height: 17px; margin: 0 0 15px; }
.hmprt4-icon {width: 55px; height: 55px; margin: 0 auto 20px; padding: 15px; }
.hmprt4-contant h4 {font-size: 15px; line-height: 20px; }
.hmprt4-contant p {font-size: 17px; line-height: 22px; }
.hmprt4-icon h4 {line-height: 25px; font-size: 43px; }
.hmprt4-row3-inner h3 {font-size: 22px; line-height: 25px; margin: 0 0 10px; }
.hmprt4-row3-inner p {font-size: 12px; line-height: 16px; margin: 0 0 10px; }
.hmprt4-row3-inner a {font-size: 13px; line-height: 25px; }
.home-part6-inner {height: 400px; }
.hmprt5-right h6 {font-size: 15px; line-height: 15px; margin: 0 0 5px; }
.hmprt5-right h3 {font-size: 35px; line-height: 35px; margin: 0 0 15px; }
.hmprt5-right p {font-size: 15px; line-height: 20px; }
.home-part5-inner {height: 440px; }
.hmprt5-top-img {height: 190px; width: 190px; left: 20%; top: 0; }
.hmprt5-left {width: 290px; height: 290px; bottom: 7%; left: 5%; }
.hmprt5-right {width: 420px; height: 420px; top: 0; right: 0; padding: 7% 8%; }
.hmprt3-row1 h6 {font-size: 15px; line-height: 15px; margin: 0 0 10px; }
.hmprt4-row1 h6 {font-size: 15px; line-height: 15px; margin: 0 0 5px; }
.hmprt4-row1 p {font-size: 15px; line-height: 18px; }
.home-part7-left {padding-left: 0; padding-right: 35px; }
.hmprt7-left-row1 {padding-top: 70px; }
.hmprt7-left-row1 h2 {font-size: 30px; line-height: 30px; margin: 0 0 20px; }
.hmprt7-left-row1 p {font-size: 15px; line-height: 20px; width: auto; margin-bottom: 50px; }
.hmprt7-left-row2 p {font-size: 15px; line-height: 20px; margin-bottom: 30px; }
.home-part7-right {padding-top: 60px; padding-bottom: 80px; padding-left: 10px; padding-right: 10px; }
.hmprt7-right-row1 {margin-top: 25px; }
.hmprt7-right-row1 .form-group {margin-bottom: 1rem; }
.hmprt7-right-row1 .form-group textarea.form-control {height: 155px; }
.hmprt7-right-row1 button[type="submit"] {line-height: 40px; }
.ftr-row-inner {padding: 15px; }
.ftr-right {padding-top: 0; }

.impre-part1-main:after {width: 1051px; height: 1051px; top: 0; }
.impre-part1-inner p {font-size: 15px; line-height: 21px; }

.einprt1-row3-inner {
    max-width: 250px;
}
.einprt2-left-row2 {
    margin: 100px 0 0;
}
.eintag-part1-main:after {width: 888px; height: 888px; }
.eintag-part1-inner:after {display: none; }
.eintag-part3-main:after {width: 750px; height: 750px; }
.einprt1-row1 h2 {  font-size: 20px; line-height: 25px; margin: 0 0 20px; }
.einprt1-row1 p {font-size: 12px; line-height: 15px; }
.einprt1-row1 {margin: 0 25px 0; }
.eintag-part2-inner {margin: 50px 25px 0; }
.einprt1-row3-inner h3 { font-size: 20px; line-height: 25px; margin: 0 0 20px; }
.einprt1-row3-inner p {font-size: 12px; line-height: 15px;  }
.einprt2-left-row2 h3 { font-size: 20px; line-height: 25px; margin: 0 0 20px; }
.einprt2-left-row2 p {font-size: 12px; line-height: 15px; }
.eintag-part2-inner:before {display: none; }
.eintag-part5-main:after {top: -3%;
    right: -2%;
    width: 800px;
    height: 900px; }
.einprt6-row1-inner {width: 145px; }
.eintag-part6-inner:after {display: none; }
.einprt6-left {padding-top: 15px;width: 27%; margin-right: 4.5%; }
.einprt7-row1-inner {width: 135px; }
.eintag-part7-main:after {top: 10%;
    left: -6%;
    width: 830px;
    height: 830px; }
.einprt7-row1 {margin: 100px 0 50px; }
.einprt7-right {padding-top: 30px; }
.eintag-part5-inner:after {display: none;}
.eintag-part1-inner:after {bottom: -20%; width: 460px; height: 457px; right: 16%; transform: rotate(-2deg); }
.einprt1-row2-right {padding: 22% 0 0 11%; }
.einprt3-row1-right h3 { font-size: 20px; line-height: 25px; margin: 0 0 20px;}
.einprt3-row1-right p {font-size: 12px; line-height: 15px; }
.eintag-part3-inner:after {display: none; }
.einprt4-left h3 { font-size: 20px; line-height: 25px; margin: 0 0 20px; }
.einprt4-left p {font-size: 12px; line-height: 15px; }
.eintag-part4-inner:after {display: none;}
.einprt5-left-col4 {height: 185px;
    margin-top: 35px; }
.einprt5-right h3 { font-size: 20px; line-height: 25px; margin: 0 0 20px; }
.einprt5-right p {font-size: 12px; line-height: 15px; }
.einprt6-left h3 { font-size: 20px; line-height: 25px; margin: 0 0 20px; }
.einprt6-left p {font-size: 12px; line-height: 15px; }
.einprt7-right h3 { font-size: 20px; line-height: 25px; margin: 0 0 20px; }
.einprt7-right p {font-size: 12px; line-height: 15px; }
.einprt8-left h3 { font-size: 20px; line-height: 25px; margin: 0 0 20px; }
.einprt8-left p {font-size: 12px; line-height: 15px; }
.einprt9-right .einprt9-row2 h3 { font-size: 20px; line-height: 25px; margin: 0 0 20px; }
.einprt9-right .einprt9-row2 p {font-size: 12px; line-height: 15px; }
.einprt10-left .einprt10-left-row2 h3 { font-size: 20px; line-height: 25px; margin: 0 0 20px; }
.einprt10-left .einprt10-left-row2 p {font-size: 12px; line-height: 15px; }
.eintag-part10-main:after {width: 1150px; }
.eintag-part7-inner:after { display: none; }
.eintag-part8-inner:after {display: none; }
.einprt8-row1-inner {width: 125px; }
.einprt8-row1 {margin-left: 14%; margin-top: 50px;}
.time-stamp {width: 95px; }
.einprt5-row1-inner {width: 150px; margin-left: 2%;}
.einprt7-row3 {bottom: 0; }
.einprt7-left-inner {height: 265px; }
.einprt8-left-inner {padding-top: 210px; }
.einprt8-glr-left-frst {height: 170px; }
.einprt8-glr-left-scnd {height: 220px; }
.einprt8-right-glr-right {padding-top: 80px; }
.einprt8-glr-right-frst {height: 250px; }
.eintag-part9-inner {padding: 0 11% 0 25%; }
.eintag-part9-main {margin-top: 40px; }
.eintag-part9-inner:before {display: none;}
.einprt2-right-glr-left .glr-left-scnd {height: 220px; }
.einprt2-right-glr-right .glr-right-frst {height: 250px;margin-top: 45px; }
.einprt3-glr-left {padding-top: 170px; }
.einprt3-right-frst {height: 245px; }
.einprt3-right-scnd {height: 275px; }
.einprt9-left {height: 385px; }
.einprt10-left-row1 {width: 135px;margin-bottom: 63px; }
.einprt2-left-row1 {padding: 0 0 0 130px; }
.einprt10-rtrw1-right {height: 223px; }
.einprt10-right-row1 {left: -25%; }
.einprt4-right {height: 395px; }
.einprt4-left-row2 {height: 234px; }
}
@media only screen and (min-width: 768px) and (max-width: 959px) 
{
.main-menu ul.navbar-nav {text-align: right; margin-top: 10px;}
.main-menu .navbar-nav .dropdown-menu {display: block; border: none; border-radius: 0; box-shadow: none; top: 0;}
.main-menu li.nav-item {margin-left: 0; border-left: none; padding: 0; }
.main-menu a.nav-link {padding: 0 0.5rem; line-height: 22px; font-weight: bold;}
.main-menu .dropdown-item {padding: 0 1rem; font-size: 16px; line-height: 20px; }
.main-menu .navbar-toggler-icon {line-height: 1.6; }
header.main-menu.is-sticky .navbar .navbar-brand img {width: 140px !important; }
header.main-menu.not-sticky .navbar .navbar-brand img {width: 140px !important; }
.main-menu .navbar-toggler {padding: 0; font-size: 33px; }
.main-menu .tpmn {right: 50px; top: 15px; text-align: left; }
.main-menu button.navbar-toggler:focus { outline: none; }
.home-part1-main {margin-top: 75px; }
.home-part2-main:after {width: 650px; height: 650px; top: -60%; left: -20%; }
.home-part3-main:after {right: -13%; top: 0; width: 790px; height: 1015px; }
.home-part3-main {padding: 100px 0 70px; }
.hmprt3-row1 {margin: 0 0 40px; }
.hmprt3-row1 h2 {font-size: 25px; line-height: 25px; }
.hmprt2-left-ttl h3 { font-size: 25px; line-height: 25px; }
.hmprt3-row2-left {width: 38%; margin-right: 5%; margin-left: 3%;}
.hmprt3-slide-img {height: 330px; }
.home-part4-inner {padding: 130px 75px 60px 50px; }
.home-part4-main:after {left: 2%; top: 0; width: 950px; height: 950px; }
.hmprt4-row1 {margin-bottom: 35px; }
.hmprt4-row1 h2 {margin: 0 0 15px; font-size: 25px; line-height: 25px;}
.hmprt1-slide-cont h2 {font-size: 25px; line-height: 30px; }
.hmprt1-slide-img {height: 400px; }
.hmprt1-slide-cont { padding: 160px 20px 120px; }
.hmprt4-row3 {bottom: 0; right: -15px; width: 270px; height: 270px; padding: 32px 30px; }
.hmprt4-contant {width: auto; }
.hmprt3-row2-left h5 {    margin: 0 0 10px; font-size: 15px; line-height: 20px; }
.hmprt3-row2-left p {margin: 0 0 10px; font-size: 15px; line-height: 18px;}
.hmprt3-row2-left ul {margin: 0 0 10px; }
.hmprt3-row2-left ul li { font-size: 15px; line-height: 18px; }
.hmprt3-row2-left a {line-height: 40px; }
.hmprt3-row2 {margin: 0 0 70px; }
.home-part4-main {margin-bottom: 75px; }
.hmprt2-left {margin-top: 30px; }
.hmprt2-right {margin-top: 35px; }
.hmprt2-left-ttl h6 {font-size: 15px; line-height: 15px; margin: 0 0 5px; }
.hmprt2-left-ttl {margin-bottom: 25px; }
.glr-right-frst {margin-top: 70px; }
.hmprt2-right p {font-size: 12px; line-height: 15px; margin: 0 0 8px; }
.hmprt2-right h5 {font-size: 15px; line-height: 17px; margin: 0 0 15px; }
.hmprt4-icon {width: 55px; height: 55px; margin: 0 auto 20px; padding: 15px; }
.hmprt4-contant h4 {font-size: 15px; line-height: 20px; }
.hmprt4-contant p {font-size: 17px; line-height: 22px; }
.hmprt4-icon h4 {line-height: 25px; font-size: 43px; }
.hmprt4-row3-inner h3 {font-size: 22px; line-height: 25px; margin: 0 0 10px; }
.hmprt4-row3-inner p {font-size: 12px; line-height: 16px; margin: 0 0 10px; }
.hmprt4-row3-inner a {font-size: 13px; line-height: 25px; }
.home-part6-inner {height: 400px; }
.hmprt5-right h6 {font-size: 15px; line-height: 15px; margin: 0 0 5px; }
.hmprt5-right h3 {font-size: 35px; line-height: 35px; margin: 0 0 15px; }
.hmprt5-right p {font-size: 15px; line-height: 20px; }
.home-part5-inner {height: 440px; }
.hmprt5-top-img {height: 190px; width: 190px; left: 20%; top: 0; }
.hmprt5-left {width: 290px; height: 290px; bottom: 7%; left: 5%; }
.hmprt5-right {width: 420px; height: 420px; top: 0; right: 0; padding: 7% 8%; }
.hmprt3-row1 h6 {font-size: 15px; line-height: 15px; margin: 0 0 10px; }
.hmprt4-row1 h6 {font-size: 15px; line-height: 15px; margin: 0 0 5px; }
.hmprt4-row1 p {font-size: 15px; line-height: 18px; }
.home-part7-left {padding-left: 0; padding-right: 35px; }
.hmprt7-left-row1 {padding-top: 70px; }
.hmprt7-left-row1 h2 {font-size: 30px; line-height: 30px; margin: 0 0 20px; }
.hmprt7-left-row1 p {font-size: 15px; line-height: 20px; width: auto; margin-bottom: 50px; }
.hmprt7-left-row2 p {font-size: 15px; line-height: 20px; margin-bottom: 30px; }
.home-part7-right {padding-top: 60px; padding-bottom: 80px; padding-left: 10px; padding-right: 10px; }
.hmprt7-right-row1 {margin-top: 25px; }
.hmprt7-right-row1 .form-group {margin-bottom: 1rem; }
.hmprt7-right-row1 .form-group textarea.form-control {height: 155px; }
.hmprt7-right-row1 button[type="submit"] {line-height: 40px; }
.ftr-row-inner {padding: 15px; }
.ftr-right {padding-top: 0; }

.impre-part1-main:after {width: 850px; height: 850px; top: 4%; }
.impre-part1-inner {width: 90%; }
.impre-part1-inner h1 {font-size: 45px; line-height: 45px; margin: 0 0 25px; }
.impre-part1-inner p {font-size: 15px; line-height: 21px; }

.eintag-part1-main:after { display: none; }
.eintag-part1-main {margin-top: 68px; padding-top: 0; }
.einprt1-row1 {margin: 0 10px 0; }
.einprt1-row1 h2 {font-size: 55px; line-height: 55px; margin: 0 0 10px; }
.eintag-part1-inner:after { display: none; }
.einprt1-row2 {margin: 0 10px 0 10px; }
.einprt1-row2-left {float: none; width: 100%; }
.einprt1-rw2lft-row1 {width: 100%; margin: 0 0 15px; }
.einprt1-rw2lft-row2-col7 {float: none; width: 100%; margin: 0 0 15px; }
.einprt1-rw2lft-row2-col5 {float: none; width: 100%; }
.einprt1-row2-right {float: none; width: 20%; padding: 0; margin: 30px auto; }
.einprt1-row3 {padding: 0 10px; }
.einprt1-row3-inner {max-width: none; width: 100%; margin: 0; padding-left: 0; }
.einprt1-row3-inner h3 {font-size: 55px; line-height: 55px; }
.eintag-part2-main {margin: 25px 0 80px; }
.eintag-part2-inner:before { display: none; }
.eintag-part2-inner {margin: 0 10px 0; }
.einprt2-left:after {clear: both; display: block; content: ""; }
.einprt2-left {float: none; width: 100%; margin-right: 0; }
.einprt2-left-row1 {margin: 0 5% 0 0; text-align: left; padding: 0; float: left; width: 25%; }
.einprt2-left-row2 {margin: 0; padding: 0; float: left; width: 70%; }
.einprt2-left-row2 h3 { font-size: 55px; line-height: 55px; }
.einprt2-right {float: none; width: 100%; margin-top: 15px; }
.einprt2-right-glr-left .glr-left-scnd {height: 200px; }
.einprt2-right-glr-right .glr-right-frst {margin-top: 0; height: 332px; }
.eintag-part3-inner {position: relative; margin-top: 0; padding: 0 10px; }
.einprt3-row1 {position: relative; width: 100%; top: 0; left: 0; }
.einprt3-row1-left {float: none; width: 25%; margin-right: auto; margin-left: auto; }
.einprt3-row1-right {float: none; width: 100%; padding-top: 10px; padding: 10px 35px; }
.einprt3-row2 {width: 100%; }
.einprt3-glr-left {float: none; width: 100%; margin-right: 0; padding-top: 0; margin-bottom: 10px; }
.einprt3-left-frst {height: auto; }
.einprt3-left-frst img {height: auto; }
.einprt3-glr-right {float: none; width: 100%; margin-left: 0; }
.einprt3-right-frst {height: auto; width: 100%; margin: 0 0 20px; }
.einprt3-right-frst img {height: auto; }
.einprt3-right-scnd {box-shadow: 2px 2px 9px #0000004d; height: auto; }
.einprt3-right-scnd img {height: auto; width: 100%; }
.einprt3-row1-right h3 { font-size: 55px; line-height: 55px; margin: 0 0 20px; }
.eintag-part3-inner:after { display: none; }
.time-stamp {width: 95px; bottom: -40px; right: 10px; }
.eintag-part4-inner {margin: 0 10px; position: relative; }
.einprt4-row1 {margin-bottom: -30px; }
.einprt4-row1-inner {width: 20%; float: left; margin-right: 0; }
.einprt4-left {float: none; width: 100%; margin-right: 0;}
.einprt4-left h3 { font-size: 55px; line-height: 55px; margin:	0 0 10px;}
.einprt4-left p {font-size: 15px; line-height: 20px; margin: 0 0 10px; }
.einprt4-left-row2 {height: auto; }
.einprt4-left-row1 {width: 100%; margin-left: 0; margin-bottom: 0; padding-left: 23%; }
.eintag-part4-inner:after { display: none; }
.einprt4-right {float: none; width: 100%; margin-top: 10px; height: auto; }
.eintag-part5-inner {padding: 0 10px; }
.einprt5-row1-inner {width: 25%; margin-left: auto; margin-right: auto; }
.einprt5-row1 {margin: 0 0 20px; }
.einprt5-row2 {display: flex; flex-wrap: wrap; }
.einprt5-left {float: none; width: 100%; margin-right: 0; order: 2; }
.einprt5-right {float: none; width: 100%; order: 1; padding: 0 30px; }
.einprt5-right h3 { font-size: 55px; line-height: 55px; margin: 0 0 15px;  }
.einprt5-right p {font-size: 15px; line-height: 20px; margin: 0 0 15px; width: auto; }
.einprt5-left-col4 {float: none; width: 100%; margin-right: 0; height: auto; margin-top: 0; }
.einprt5-left-col4 img {height: auto; }
.einprt5-left-col8 {float: none; width: 100%; margin-left: 0; margin-top: 10px; }
.einprt5-left-col8-glr2 {width: 100%; }
.eintag-part5-inner:after { display: none; }
.eintag-part6-main {margin-top: 50px; }
.einprt6-row1 {text-align: center; }
.einprt6-row1-inner {width: 25%; display: inline-block; margin-right: 0; margin-bottom: 20px; }
.einprt6-row2 {margin: 0; }
.einprt6-left {float: none; width: 100%; margin-right: 0; padding-top: 0; }
.einprt6-right {float: none; width: 100%; }
.einprt6-left-inner {padding: 0 30px; }
.einprt6-left h3 {font-size: 55px; line-height: 55px; margin: 0 0 10px; }
.einprt6-left p {font-size: 15px; line-height: 20px; margin: 0 0 15px; }
.eintag-part6-inner {padding: 0 10px; }
.einprt6-row3-inner {max-width: none; width: 100%; margin: 10px auto; height: auto; }
.einprt6-row3-inner img {height: auto; width: 100%; }
.eintag-part7-inner {padding: 0 10px; }
.einprt7-row1 {margin: 70px 0 20px; }
.einprt7-row1-inner {width: 25%; display: block; margin-left: auto; margin-right: auto; }
.einprt7-row2 {padding: 0; margin-bottom: 20px; display: flex; flex-wrap: wrap; }
.einprt7-left {float: none; width: 100%; order: 2; }
.einprt7-right {float: none; width: 100%; padding-top: 0; margin-left: 0; padding-left: 30px; order: 1; padding-right: 30px; margin-bottom: 15px; }
.einprt7-right h3 {font-size: 55px; line-height: 55px; margin: 0 0 15px; }
.einprt7-right p {font-size: 15px; line-height: 20px; margin: 0; }
.einprt7-row3 {position: relative; bottom: 0; display: inline; width: 100%; left: 0; }
.einprt7-row3-inner {width: 100%; display: inline-block; }
.eintag-part6-inner:after { display: none; }
.eintag-part7-inner:after { display: none; }
.eintag-part8-inner {padding: 0 10px; }
.einprt8-row1 {margin-left: 0; padding: 0 30px; }
.einprt8-row2 {padding: 0; margin-top: 0; }
.einprt8-left {float: none; width: 100%; margin-right: 0; padding: 0 30px; margin-bottom: 15px; }
.einprt8-left-inner {padding-top: 0; }
.einprt8-row1-inner {width: 25%; }
.eintag-part8-main {margin-top: 50px; }
.einprt8-left h3 {font-size: 55px; line-height: 55px; margin: 0 0 15px; }
.einprt8-left p {font-size: 15px; line-height: 20px; margin: 0; }
.eintag-part8-inner:after { display: none; }
.einprt8-right-glr-left {float: none; width: 100%; margin-right: 0; }
.einprt8-glr-left-frst {margin-bottom: 20px; height: auto; }
.einprt8-glr-left-frst img {height: auto; }
.einprt8-glr-left-scnd {width: 100%; margin-left: 0; height: auto; margin-bottom: 15px; }
.einprt8-glr-left-scnd img {height: auto; }
.einprt8-glr-right-frst {height: auto; }
.einprt8-glr-right-frst img {height: auto; }
.einprt8-right {float: none; width: 100%; }
.einprt8-right-glr-right {float: none; width: 100%; margin-left: 0; padding-top: 0; }
.eintag-part9-inner:before { display: none; }
.eintag-part9-inner {padding: 0 10px; display: flex; flex-wrap: wrap; }
.einprt9-left {float: none; width: 100%; height: auto; margin-top: 0; order: 2; }
.einprt9-right {float: none; width: 100%; margin-left: 0; order: 1; }
.einprt9-row1 {width: 25%; margin: 0 auto 20px; }
.einprt9-row2 {padding: 0 30px; }
.einprt9-right .einprt9-row2 h3 {font-size: 55px; line-height: 55px; margin: 0 0 15px; }
.einprt9-right .einprt9-row2 p {font-size: 15px; line-height: 20px; margin: 0 0 15px; }
.einprt9-left img {height: auto; }
.eintag-part10-inner {padding: 80px 10px 0; margin-bottom: 85px; }
.einprt10-left {float: none; width: 100%; }
.einprt10-right {float: none; width: 100%; margin-left: 0; }
.einprt10-left-row1 {width: 25%; margin-left: auto; margin-right: auto; margin-bottom: 25px; }
.einprt10-left-row2 {padding: 0 30px; }
.einprt10-left .einprt10-left-row2 h3 {font-size: 55px; line-height: 55px; margin: 0 0 15px; width: auto; }
.einprt10-left .einprt10-left-row2 p {font-size: 15px; line-height: 20px; margin: 0; }
.einprt10-right-row1 {position: relative; left: 0; margin-bottom: 20px; width: auto; }
.einprt10-rtrw1-left {float: none; width: 100%; margin-right: 0; margin-top: 15px; }
.einprt10-rtrw1-right {float: none; width: 100%; margin-left: 0; height: auto; margin-top: 10px; }
.einprt10-rtrw1-right img {height: auto; }
}
@media only screen and (min-width: 591px) and (max-width: 767px) 
{
.container {padding-left: 0; padding-right: 0; }
.main-menu ul.navbar-nav {text-align: right; margin-top: 10px; height: 230px; overflow: auto;}
.main-menu .navbar-nav .dropdown-menu {display: block; border: none; border-radius: 0; box-shadow: none; top: 0;}
.main-menu li.nav-item {margin-left: 0; border-left: none; padding: 0; }
.main-menu a.nav-link {padding: 0 0.5rem; line-height: 22px; font-weight: bold;}
.main-menu .dropdown-item {padding: 0 1rem; font-size: 16px; line-height: 20px; }
.main-menu .navbar-toggler-icon {line-height: 1.6; }
header.main-menu.is-sticky .navbar .navbar-brand img {width: 140px !important; }
header.main-menu.not-sticky .navbar .navbar-brand img {width: 140px !important; }
.main-menu .navbar-toggler {padding: 0; font-size: 33px; }
.main-menu .tpmn {right: 50px; top: 9px; text-align: left; }
.main-menu button.navbar-toggler:focus { outline: none; }
.tpmn ul li {display: block; margin-left: 0; }
.tpmn ul li a, .tpmn ul li {font-size: 11px; line-height: 19px; }
.ftr-row-inner {padding: 20px 25px 15px; }
.ftr-left {float: none; width: 100%; padding: 0 125px;}
.ftr-right {float: none; width: 100%; text-align: center; padding-top: 30px; }
.ftr-right .ftr-right-row1 ul li a {font-size: 15px; line-height: 17px; }
.ftr-right .ftr-right-row2 ul li a {font-size: 15px; line-height: 17px; }
.hmprt7-left-row1 {padding-top: 30px; }
.home-part7-left {float: none; width: 100%; padding-left: 10px; padding-right: 10px; padding-bottom: 35px; }
.home-part7-right {float: none; width: 100%; padding-top: 25px; padding-bottom: 35px; padding-left: 10px; padding-right: 10px; }
.hmprt7-right-row1 {margin-top: 10px; }
.hmprt7-left-row1 h2 {margin: 0 0 15px; }
.hmprt7-left-row1 p {width: auto; margin-bottom: 30px; }
.home-part6-main {display: none; }
.home-part5-main {margin-bottom: 20px; }
.home-part5-inner {max-width: 450px; margin: 0 auto; width: 100%; height: 526px; padding: 0 10px; }
.hmprt5-top-img {height: 140px; width: 140px; left: 50px; top: -65px; }
.hmprt5-left {width: 263px; height: 263px; bottom: 5%; left: auto; right: 10px; }
.hmprt5-left-inner {padding-left: 50px; padding-bottom: 75px; }
.hmprt5-right {width: 355px; height: 355px; top: 0; right: 35px; padding: 12% 6%; }
.hmprt5-right h6 {font-size: 10px; line-height: 10px; margin: 0 0 5px; }
.hmprt5-right h3 {font-size: 30px; line-height: 27px; margin: 0 0 15px; }
.hmprt5-right p {font-size: 14px; line-height: 19px; }
.hmprt2-left {float: none; width: 100%; margin-right: 0; margin-top: 50px; padding: 0 10px; }
.hmprt2-left-ttl {padding-left: 0; margin-bottom: 15px; }
.hmprt2-left-ttl h6 {font-size: 16px; line-height: 18px; }
.hmprt2-left-ttl h3 {font-size: 40px; line-height: 40px; margin: 0; }
.hmprt2-left-glr-left {float: none; width: 100%; margin-right: 0; }
.hmprt2-left-glr-right {float: none; width: 100%; margin-left: 0; }
.glr-left-scnd {width: 100%; margin-left: 0; }
.glr-right-frst {margin-top: 20px; }
.hmprt2-right {float: none; width: 100%; margin-right: 0; margin-top: 30px; padding: 0 10px; }
.home-part3-main {margin: 0; padding: 35px 0 0; }
.home-part3-inner {padding: 0 10px; }
.hmprt3-row1 {margin: 0 50px 20px; }
.hmprt3-row1 h2 {font-size: 40px; line-height: 40px; }
.hmprt3-row2 {margin: 0; display: flex; flex-wrap: wrap; }
.hmprt3-row2-left {float: none; width: 100%; margin-left: 0; margin-right: 0; order: 2; margin-top: 20px; margin-bottom: 50px; }
.hmprt3-row2-right {float: none; width: 100%; position: relative; box-shadow: 2px 2px 10px #0000004d; order: 1; }
.hmprt3-slide-img {height: 250px; }
.home-part4-inner {padding: 35px 10px 0 10px; }
.hmprt4-row1 {padding-left: 0; margin-bottom: 30px; text-align: center; }
.hmprt4-row1 h2 {font-size: 45px; line-height: 45px; margin: 0 0 25px; }
.hmprt4-row1 p {font-size: 18px; line-height: 25px; margin: 0; width: auto; }
.hmprt4-row3 {width: 355px; height: 355px; padding: 55px 45px; bottom: 0; right: 0; position: relative; }
.hmprt4-row3-inner h3 {font-size: 27px; line-height: 27px; margin: 0 0 20px; }
.hmprt4-row3-inner p {font-size: 15px; line-height: 18px; margin: 0 0 25px; }
.home-part4-main {margin-bottom: 130px; }
.slide-inner-item {display: flex; flex-wrap: wrap; }
.hmprt1-slide-cont {float: none; width: 100%; padding: 15px 20px 15px; order: 2; }
.hmprt1-slide-img {float: none; width: 100%; height: 245px; }
.hmprt1-slide-cont h2 {font-size: 40px; line-height: 45px; text-align: center; }
.home-part1-main {margin-top: 70px; }
.home-slide.owl-theme .owl-nav {display: none; }
.slider-counter {display: none; }
.home-slide.owl-theme .owl-dots {position: absolute; bottom: 120px; left: 50%; transform: translateX(-50%); margin-top: 0 !important; }
.home-part2-main:after {width: 930px; height: 930px; top: -4%; left: auto; right: 0; }
.home-part3-main:after {right: 0%; top: -5%; width: 96%; height: 62%; }
.home-part4-main:after {left: auto; top: -15%; width: 1420px; height: 1420px; z-index: -1; right: 4%; }
.home-part4-main:before {position: absolute; content: ""; left: 5%; bottom: -1%; background-image: url(../gfx/Kreis_2.svg); width: 95%; height: 1524px; z-index: -1; background-repeat: no-repeat; background-size: cover; }

.impre-part1-main:after {display: none; }
.impre-part1-main {margin-top: 120px; }
.impre-part1-inner {width: 90%; }
.impre-part1-inner h1 {font-size: 45px; line-height: 45px; margin: 0 0 25px; }
.impre-part1-inner p {font-size: 15px; line-height: 21px; }

.eintag-part1-inner {display: flex; flex-wrap: wrap; }
.eintag-part1-main:after { display: none; }
.eintag-part1-main {margin-top: 68px; padding-top: 0; }
.einprt1-row1 {margin: 0 10px 0; order: 1;}
.einprt1-row1 h2 {font-size: 55px; line-height: 55px; margin: 0 0 10px; }
.eintag-part1-inner:after { display: none; }
.einprt1-row2 {margin: 0 10px 0 10px; order: 3;}
.einprt1-row2-left {float: none; width: 100%; }
.einprt1-rw2lft-row1 {width: 100%; margin: 0 0 15px; }
.einprt1-rw2lft-row2-col7 {float: none; width: 100%; margin: 0 0 15px; }
.einprt1-rw2lft-row2-col5 {float: none; width: 100%; }
.einprt1-row2-right {float: none; width: 20%; padding: 0; margin: 30px auto; }
.einprt1-row3 {padding: 0 10px; order: 2;}
.einprt1-row3-inner {max-width: none; width: 100%; margin: 0; padding-left: 0; }
.einprt1-row3-inner h3 {font-size: 55px; line-height: 55px; }
.eintag-part2-main {margin: 25px 0 80px; }
.eintag-part2-inner:before { display: none; }
.eintag-part2-inner {margin: 0 10px 0; }
.einprt2-left:after {clear: both; display: block; content: ""; }
.einprt2-left {float: none; width: 100%; margin-right: 0; }
.einprt2-left-row1 {margin: 0 5% 0 0; text-align: left; padding: 0; float: left; width: 25%; }
.einprt2-left-row2 {margin: 0; padding: 0; float: left; width: 70%; }
.einprt2-left-row2 h3 { font-size: 55px; line-height: 55px; }
.einprt2-right {float: none; width: 100%; margin-top: 15px; }
.einprt2-right-glr-left .glr-left-scnd {height: 200px; }
.einprt2-right-glr-right .glr-right-frst {margin-top: 0; height: 332px; }
.eintag-part3-inner {position: relative; margin-top: 0; padding: 0 10px; }
.einprt3-row1 {position: relative; width: 100%; top: 0; left: 0; }
.einprt3-row1-left {float: none; width: 25%; margin-right: auto; margin-left: auto; }
.einprt3-row1-right {float: none; width: 100%; padding-top: 10px; padding: 10px 35px; }
.einprt3-row2 {width: 100%; }
.einprt3-glr-left {float: none; width: 100%; margin-right: 0; padding-top: 0; margin-bottom: 10px; }
.einprt3-left-frst {height: auto; }
.einprt3-left-frst img {height: auto; }
.einprt3-glr-right {float: none; width: 100%; margin-left: 0; }
.einprt3-right-frst {height: auto; width: 100%; margin: 0 0 20px; }
.einprt3-right-frst img {height: auto; }
.einprt3-right-scnd {box-shadow: 2px 2px 9px #0000004d; height: auto; }
.einprt3-right-scnd img {height: auto; width: 100%; }
.einprt3-row1-right h3 { font-size: 55px; line-height: 55px; margin: 0 0 20px; }
.eintag-part3-inner:after { display: none; }
.time-stamp {width: 95px; bottom: -40px; right: 10px; }
.eintag-part4-inner {margin: 0 10px; position: relative; }
.einprt4-row1 {margin-bottom: -30px; }
.einprt4-row1-inner {width: 20%; float: left; margin-right: 0; }
.einprt4-left {float: none; width: 100%; margin-right: 0;}
.einprt4-left h3 { font-size: 55px; line-height: 55px; margin:	0 0 10px;}
.einprt4-left p {font-size: 15px; line-height: 20px; margin: 0 0 10px; }
.einprt4-left-row2 {height: auto; }
.einprt4-left-row1 {width: 100%; margin-left: 0; margin-bottom: 0; padding-left: 23%; }
.eintag-part4-inner:after { display: none; }
.einprt4-right {float: none; width: 100%; margin-top: 10px; height: auto; }
.eintag-part5-inner {padding: 0 10px; }
.einprt5-row1-inner {width: 25%; margin-left: auto; margin-right: auto; }
.einprt5-row1 {margin: 0 0 20px; }
.einprt5-row2 {display: flex; flex-wrap: wrap; }
.einprt5-left {float: none; width: 100%; margin-right: 0; order: 2; }
.einprt5-right {float: none; width: 100%; order: 1; padding: 0 30px; }
.einprt5-right h3 { font-size: 55px; line-height: 55px; margin: 0 0 15px;  }
.einprt5-right p {font-size: 15px; line-height: 20px; margin: 0 0 15px; width: auto; }
.einprt5-left-col4 {float: none; width: 100%; margin-right: 0; height: auto; margin-top: 0; }
.einprt5-left-col4 img {height: auto; }
.einprt5-left-col8 {float: none; width: 100%; margin-left: 0; margin-top: 10px; }
.einprt5-left-col8-glr2 {width: 100%; }
.eintag-part5-inner:after { display: none; }
.eintag-part6-main {margin-top: 50px; }
.einprt6-row1 {text-align: center; }
.einprt6-row1-inner {width: 25%; display: inline-block; margin-right: 0; margin-bottom: 20px; }
.einprt6-row2 {margin: 0; }
.einprt6-left {float: none; width: 100%; margin-right: 0; padding-top: 0; }
.einprt6-right {float: none; width: 100%; }
.einprt6-left-inner {padding: 0 30px; }
.einprt6-left h3 {font-size: 55px; line-height: 55px; margin: 0 0 10px; }
.einprt6-left p {font-size: 15px; line-height: 20px; margin: 0 0 15px; }
.eintag-part6-inner {padding: 0 10px; }
.einprt6-row3-inner {max-width: none; width: 100%; margin: 10px auto; height: auto; }
.einprt6-row3-inner img {height: auto; width: 100%; }
.eintag-part7-inner {padding: 0 10px; }
.einprt7-row1 {margin: 70px 0 20px; }
.einprt7-row1-inner {width: 25%; display: block; margin-left: auto; margin-right: auto; }
.einprt7-row2 {padding: 0; margin-bottom: 20px; display: flex; flex-wrap: wrap; }
.einprt7-left {float: none; width: 100%; order: 2; }
.einprt7-right {float: none; width: 100%; padding-top: 0; margin-left: 0; padding-left: 30px; order: 1; padding-right: 30px; margin-bottom: 15px; }
.einprt7-right h3 {font-size: 55px; line-height: 55px; margin: 0 0 15px; }
.einprt7-right p {font-size: 15px; line-height: 20px; margin: 0; }
.einprt7-row3 {position: relative; bottom: 0; display: inline; width: 100%; left: 0; }
.einprt7-row3-inner {width: 100%; display: inline-block; }
.eintag-part6-inner:after { display: none; }
.eintag-part7-inner:after { display: none; }
.eintag-part8-inner {padding: 0 10px; }
.einprt8-row1 {margin-left: 0; padding: 0 30px; }
.einprt8-row2 {padding: 0; margin-top: 0; }
.einprt8-left {float: none; width: 100%; margin-right: 0; padding: 0 30px; margin-bottom: 15px; }
.einprt8-left-inner {padding-top: 0; }
.einprt8-row1-inner {width: 25%; }
.eintag-part8-main {margin-top: 50px; }
.einprt8-left h3 {font-size: 55px; line-height: 55px; margin: 0 0 15px; }
.einprt8-left p {font-size: 15px; line-height: 20px; margin: 0; }
.eintag-part8-inner:after { display: none; }
.einprt8-right-glr-left {float: none; width: 100%; margin-right: 0; }
.einprt8-glr-left-frst {margin-bottom: 20px; height: auto; }
.einprt8-glr-left-frst img {height: auto; }
.einprt8-glr-left-scnd {width: 100%; margin-left: 0; height: auto; margin-bottom: 15px; }
.einprt8-glr-left-scnd img {height: auto; }
.einprt8-glr-right-frst {height: auto; }
.einprt8-glr-right-frst img {height: auto; }
.einprt8-right {float: none; width: 100%; }
.einprt8-right-glr-right {float: none; width: 100%; margin-left: 0; padding-top: 0; }
.eintag-part9-inner:before { display: none; }
.eintag-part9-inner {padding: 0 10px; display: flex; flex-wrap: wrap; }
.einprt9-left {float: none; width: 100%; height: auto; margin-top: 0; order: 2; }
.einprt9-right {float: none; width: 100%; margin-left: 0; order: 1; }
.einprt9-row1 {width: 25%; margin: 0 auto 20px; }
.einprt9-row2 {padding: 0 30px; }
.einprt9-right .einprt9-row2 h3 {font-size: 55px; line-height: 55px; margin: 0 0 15px; }
.einprt9-right .einprt9-row2 p {font-size: 15px; line-height: 20px; margin: 0 0 15px; }
.einprt9-left img {height: auto; }
.eintag-part10-inner {padding: 80px 10px 0; margin-bottom: 85px; }
.einprt10-left {float: none; width: 100%; }
.einprt10-right {float: none; width: 100%; margin-left: 0; }
.einprt10-left-row1 {width: 25%; margin-left: auto; margin-right: auto; margin-bottom: 25px; }
.einprt10-left-row2 {padding: 0 30px; }
.einprt10-left .einprt10-left-row2 h3 {font-size: 55px; line-height: 55px; margin: 0 0 15px; width: auto; }
.einprt10-left .einprt10-left-row2 p {font-size: 15px; line-height: 20px; margin: 0; }
.einprt10-right-row1 {position: relative; left: 0; margin-bottom: 20px; width: auto; }
.einprt10-rtrw1-left {float: none; width: 100%; margin-right: 0; margin-top: 15px; }
.einprt10-rtrw1-right {float: none; width: 100%; margin-left: 0; height: auto; margin-top: 10px; }
.einprt10-rtrw1-right img {height: auto; }
}
@media only screen and (min-width: 471px) and (max-width: 590px) 
{
.container {padding-left: 0; padding-right: 0; }
.main-menu ul.navbar-nav {text-align: right; margin-top: 10px; height: 230px; overflow: auto;}
.main-menu .navbar-nav .dropdown-menu {display: block; border: none; border-radius: 0; box-shadow: none; top: 0;}
.main-menu li.nav-item {margin-left: 0; border-left: none; padding: 0; }
.main-menu a.nav-link {padding: 0 0.5rem; line-height: 22px; font-weight: bold;}
.main-menu .dropdown-item {padding: 0 1rem; font-size: 16px; line-height: 20px; }
.main-menu .navbar-toggler-icon {line-height: 1.6; }
header.main-menu.is-sticky .navbar .navbar-brand img {width: 140px !important; }
header.main-menu.not-sticky .navbar .navbar-brand img {width: 140px !important; }
.main-menu .navbar-toggler {padding: 0; font-size: 33px; }
.main-menu .tpmn {right: 50px; top: 9px; text-align: left; }
.main-menu button.navbar-toggler:focus { outline: none; }
.tpmn ul li {display: block; margin-left: 0; }
.tpmn ul li a, .tpmn ul li {font-size: 11px; line-height: 19px; }
.ftr-row-inner {padding: 20px 25px 15px; }
.ftr-left {float: none; width: 100%; padding: 0 125px;}
.ftr-right {float: none; width: 100%; text-align: center; padding-top: 30px; }
.ftr-right .ftr-right-row1 ul li a {font-size: 15px; line-height: 17px; }
.ftr-right .ftr-right-row2 ul li a {font-size: 15px; line-height: 17px; }
.hmprt7-left-row1 {padding-top: 30px; }
.home-part7-left {float: none; width: 100%; padding-left: 10px; padding-right: 10px; padding-bottom: 35px; }
.home-part7-right {float: none; width: 100%; padding-top: 25px; padding-bottom: 35px; padding-left: 10px; padding-right: 10px; }
.hmprt7-right-row1 {margin-top: 10px; }
.hmprt7-left-row1 h2 {margin: 0 0 15px; }
.hmprt7-left-row1 p {width: auto; margin-bottom: 30px; }
.home-part6-main {display: none; }
.home-part5-main {margin-bottom: 20px; }
.home-part5-inner {max-width: 450px; margin: 0 auto; width: 100%; height: 526px; padding: 0 10px; }
.hmprt5-top-img {height: 140px; width: 140px; left: 50px; top: -65px; }
.hmprt5-left {width: 263px; height: 263px; bottom: 5%; left: auto; right: 10px; }
.hmprt5-left-inner {padding-left: 50px; padding-bottom: 75px; }
.hmprt5-right {width: 355px; height: 355px; top: 0; right: 35px; padding: 12% 6%; }
.hmprt5-right h6 {font-size: 10px; line-height: 10px; margin: 0 0 5px; }
.hmprt5-right h3 {font-size: 30px; line-height: 27px; margin: 0 0 15px; }
.hmprt5-right p {font-size: 14px; line-height: 19px; }
.hmprt2-left {float: none; width: 100%; margin-right: 0; margin-top: 50px; padding: 0 10px; }
.hmprt2-left-ttl {padding-left: 0; margin-bottom: 15px; }
.hmprt2-left-ttl h6 {font-size: 16px; line-height: 18px; }
.hmprt2-left-ttl h3 {font-size: 40px; line-height: 40px; margin: 0; }
.hmprt2-left-glr-left {float: none; width: 100%; margin-right: 0; }
.hmprt2-left-glr-right {float: none; width: 100%; margin-left: 0; }
.glr-left-scnd {width: 100%; margin-left: 0; }
.glr-right-frst {margin-top: 20px; }
.hmprt2-right {float: none; width: 100%; margin-right: 0; margin-top: 30px; padding: 0 10px; }
.home-part3-main {margin: 0; padding: 35px 0 0; }
.home-part3-inner {padding: 0 10px; }
.hmprt3-row1 {margin: 0 50px 20px; }
.hmprt3-row1 h2 {font-size: 40px; line-height: 40px; }
.hmprt3-row2 {margin: 0; display: flex; flex-wrap: wrap; }
.hmprt3-row2-left {float: none; width: 100%; margin-left: 0; margin-right: 0; order: 2; margin-top: 20px; margin-bottom: 50px; }
.hmprt3-row2-right {float: none; width: 100%; position: relative; box-shadow: 2px 2px 10px #0000004d; order: 1; }
.hmprt3-slide-img {height: 250px; }
.home-part4-inner {padding: 35px 10px 0 10px; }
.hmprt4-row1 {padding-left: 0; margin-bottom: 30px; text-align: center; }
.hmprt4-row1 h2 {font-size: 45px; line-height: 45px; margin: 0 0 25px; }
.hmprt4-row1 p {font-size: 18px; line-height: 25px; margin: 0; width: auto; }
.hmprt4-row3 {width: 355px; height: 355px; padding: 55px 45px; bottom: 0; right: 0; position: relative; }
.hmprt4-row3-inner h3 {font-size: 27px; line-height: 27px; margin: 0 0 20px; }
.hmprt4-row3-inner p {font-size: 15px; line-height: 18px; margin: 0 0 25px; }
.home-part4-main {margin-bottom: 130px; }
.slide-inner-item {display: flex; flex-wrap: wrap; }
.hmprt1-slide-cont {float: none; width: 100%; padding: 15px 20px 15px; order: 2; }
.hmprt1-slide-img {float: none; width: 100%; height: 245px; }
.hmprt1-slide-cont h2 {font-size: 40px; line-height: 45px; text-align: center; }
.home-part1-main {margin-top: 70px; }
.home-slide.owl-theme .owl-nav {display: none; }
.slider-counter {display: none; }
.home-slide.owl-theme .owl-dots {position: absolute; bottom: 120px; left: 50%; transform: translateX(-50%); margin-top: 0 !important; }
.home-part2-main:after {width: 930px; height: 930px; top: -4%; left: auto; right: 0; }
.home-part3-main:after {right: 0%; top: -5%; width: 96%; height: 62%; }
.home-part4-main:after {left: auto; top: -15%; width: 1420px; height: 1420px; z-index: -1; right: 4%; }
.home-part4-main:before {position: absolute; content: ""; left: 5%; bottom: -1%; background-image: url(../gfx/Kreis_2.svg); width: 95%; height: 1524px; z-index: -1; background-repeat: no-repeat; background-size: cover; }

.impre-part1-main:after {display: none; }
.impre-part1-main {margin-top: 120px; }
.impre-part1-inner {width: 90%; }
.impre-part1-inner h1 {font-size: 45px; line-height: 45px; margin: 0 0 25px; }
.impre-part1-inner p {font-size: 15px; line-height: 21px; }

.eintag-part1-inner {display: flex; flex-wrap: wrap; }
.eintag-part1-main:after { display: none; }
.eintag-part1-main {margin-top: 68px; padding-top: 0; }
.einprt1-row1 {margin: 0 10px 0; order: 1;}
.einprt1-row1 h2 {font-size: 55px; line-height: 55px; margin: 0 0 10px; }
.eintag-part1-inner:after { display: none; }
.einprt1-row2 {margin: 0 10px 0 10px; order: 3;}
.einprt1-row2-left {float: none; width: 100%; }
.einprt1-rw2lft-row1 {width: 100%; margin: 0 0 15px; }
.einprt1-rw2lft-row2-col7 {float: none; width: 100%; margin: 0 0 15px; }
.einprt1-rw2lft-row2-col5 {float: none; width: 100%; }
.einprt1-row2-right {float: none; width: 20%; padding: 0; margin: 30px auto; }
.einprt1-row3 {padding: 0 10px; order: 2;}
.einprt1-row3-inner {max-width: none; width: 100%; margin: 0; padding-left: 0; }
.einprt1-row3-inner h3 {font-size: 55px; line-height: 55px; }
.eintag-part2-main {margin: 25px 0 80px; }
.eintag-part2-inner:before { display: none; }
.eintag-part2-inner {margin: 0 10px 0; }
.einprt2-left:after {clear: both; display: block; content: ""; }
.einprt2-left {float: none; width: 100%; margin-right: 0; }
.einprt2-left-row1 {margin: 0 5% 0 0; text-align: left; padding: 0; float: left; width: 25%; }
.einprt2-left-row2 {margin: 0; padding: 0; float: left; width: 70%; }
.einprt2-left-row2 h3 { font-size: 55px; line-height: 55px; }
.einprt2-right {float: none; width: 100%; margin-top: 15px; }
.einprt2-right-glr-left .glr-left-scnd {height: 200px; }
.einprt2-right-glr-right .glr-right-frst {margin-top: 0; height: 332px; }
.eintag-part3-inner {position: relative; margin-top: 0; padding: 0 10px; }
.einprt3-row1 {position: relative; width: 100%; top: 0; left: 0; }
.einprt3-row1-left {float: none; width: 25%; margin-right: auto; margin-left: auto; }
.einprt3-row1-right {float: none; width: 100%; padding-top: 10px; padding: 10px 35px; }
.einprt3-row2 {width: 100%; }
.einprt3-glr-left {float: none; width: 100%; margin-right: 0; padding-top: 0; margin-bottom: 10px; }
.einprt3-left-frst {height: auto; }
.einprt3-left-frst img {height: auto; }
.einprt3-glr-right {float: none; width: 100%; margin-left: 0; }
.einprt3-right-frst {height: auto; width: 100%; margin: 0 0 20px; }
.einprt3-right-frst img {height: auto; }
.einprt3-right-scnd {box-shadow: 2px 2px 9px #0000004d; height: auto; }
.einprt3-right-scnd img {height: auto; width: 100%; }
.einprt3-row1-right h3 { font-size: 55px; line-height: 55px; margin: 0 0 20px; }
.eintag-part3-inner:after { display: none; }
.time-stamp {width: 95px; bottom: -40px; right: 10px; }
.eintag-part4-inner {margin: 0 10px; position: relative; }
.einprt4-row1 {margin-bottom: -30px; }
.einprt4-row1-inner {width: 20%; float: left; margin-right: 0; }
.einprt4-left {float: none; width: 100%; margin-right: 0;}
.einprt4-left h3 { font-size: 55px; line-height: 55px; margin:	0 0 10px;}
.einprt4-left p {font-size: 15px; line-height: 20px; margin: 0 0 10px; }
.einprt4-left-row2 {height: auto; }
.einprt4-left-row1 {width: 100%; margin-left: 0; margin-bottom: 0; padding-left: 23%; }
.eintag-part4-inner:after { display: none; }
.einprt4-right {float: none; width: 100%; margin-top: 10px; height: auto; }
.eintag-part5-inner {padding: 0 10px; }
.einprt5-row1-inner {width: 25%; margin-left: auto; margin-right: auto; }
.einprt5-row1 {margin: 0 0 20px; }
.einprt5-row2 {display: flex; flex-wrap: wrap; }
.einprt5-left {float: none; width: 100%; margin-right: 0; order: 2; }
.einprt5-right {float: none; width: 100%; order: 1; padding: 0 30px; }
.einprt5-right h3 { font-size: 55px; line-height: 55px; margin: 0 0 15px;  }
.einprt5-right p {font-size: 15px; line-height: 20px; margin: 0 0 15px; width: auto; }
.einprt5-left-col4 {float: none; width: 100%; margin-right: 0; height: auto; margin-top: 0; }
.einprt5-left-col4 img {height: auto; }
.einprt5-left-col8 {float: none; width: 100%; margin-left: 0; margin-top: 10px; }
.einprt5-left-col8-glr2 {width: 100%; }
.eintag-part5-inner:after { display: none; }
.eintag-part6-main {margin-top: 50px; }
.einprt6-row1 {text-align: center; }
.einprt6-row1-inner {width: 25%; display: inline-block; margin-right: 0; margin-bottom: 20px; }
.einprt6-row2 {margin: 0; }
.einprt6-left {float: none; width: 100%; margin-right: 0; padding-top: 0; }
.einprt6-right {float: none; width: 100%; }
.einprt6-left-inner {padding: 0 30px; }
.einprt6-left h3 {font-size: 55px; line-height: 55px; margin: 0 0 10px; }
.einprt6-left p {font-size: 15px; line-height: 20px; margin: 0 0 15px; }
.eintag-part6-inner {padding: 0 10px; }
.einprt6-row3-inner {max-width: none; width: 100%; margin: 10px auto; height: auto; }
.einprt6-row3-inner img {height: auto; width: 100%; }
.eintag-part7-inner {padding: 0 10px; }
.einprt7-row1 {margin: 70px 0 20px; }
.einprt7-row1-inner {width: 25%; display: block; margin-left: auto; margin-right: auto; }
.einprt7-row2 {padding: 0; margin-bottom: 20px; display: flex; flex-wrap: wrap; }
.einprt7-left {float: none; width: 100%; order: 2; }
.einprt7-right {float: none; width: 100%; padding-top: 0; margin-left: 0; padding-left: 30px; order: 1; padding-right: 30px; margin-bottom: 15px; }
.einprt7-right h3 {font-size: 55px; line-height: 55px; margin: 0 0 15px; }
.einprt7-right p {font-size: 15px; line-height: 20px; margin: 0; }
.einprt7-row3 {position: relative; bottom: 0; display: inline; width: 100%; left: 0; }
.einprt7-row3-inner {width: 100%; display: inline-block; }
.eintag-part6-inner:after { display: none; }
.eintag-part7-inner:after { display: none; }
.eintag-part8-inner {padding: 0 10px; }
.einprt8-row1 {margin-left: 0; padding: 0 30px; }
.einprt8-row2 {padding: 0; margin-top: 0; }
.einprt8-left {float: none; width: 100%; margin-right: 0; padding: 0 30px; margin-bottom: 15px; }
.einprt8-left-inner {padding-top: 0; }
.einprt8-row1-inner {width: 25%; }
.eintag-part8-main {margin-top: 50px; }
.einprt8-left h3 {font-size: 55px; line-height: 55px; margin: 0 0 15px; }
.einprt8-left p {font-size: 15px; line-height: 20px; margin: 0; }
.eintag-part8-inner:after { display: none; }
.einprt8-right-glr-left {float: none; width: 100%; margin-right: 0; }
.einprt8-glr-left-frst {margin-bottom: 20px; height: auto; }
.einprt8-glr-left-frst img {height: auto; }
.einprt8-glr-left-scnd {width: 100%; margin-left: 0; height: auto; margin-bottom: 15px; }
.einprt8-glr-left-scnd img {height: auto; }
.einprt8-glr-right-frst {height: auto; }
.einprt8-glr-right-frst img {height: auto; }
.einprt8-right {float: none; width: 100%; }
.einprt8-right-glr-right {float: none; width: 100%; margin-left: 0; padding-top: 0; }
.eintag-part9-inner:before { display: none; }
.eintag-part9-inner {padding: 0 10px; display: flex; flex-wrap: wrap; }
.einprt9-left {float: none; width: 100%; height: auto; margin-top: 0; order: 2; }
.einprt9-right {float: none; width: 100%; margin-left: 0; order: 1; }
.einprt9-row1 {width: 25%; margin: 0 auto 20px; }
.einprt9-row2 {padding: 0 30px; }
.einprt9-right .einprt9-row2 h3 {font-size: 55px; line-height: 55px; margin: 0 0 15px; }
.einprt9-right .einprt9-row2 p {font-size: 15px; line-height: 20px; margin: 0 0 15px; }
.einprt9-left img {height: auto; }
.eintag-part10-inner {padding: 80px 10px 0; margin-bottom: 85px; }
.einprt10-left {float: none; width: 100%; }
.einprt10-right {float: none; width: 100%; margin-left: 0; }
.einprt10-left-row1 {width: 25%; margin-left: auto; margin-right: auto; margin-bottom: 25px; }
.einprt10-left-row2 {padding: 0 30px; }
.einprt10-left .einprt10-left-row2 h3 {font-size: 55px; line-height: 55px; margin: 0 0 15px; width: auto; }
.einprt10-left .einprt10-left-row2 p {font-size: 15px; line-height: 20px; margin: 0; }
.einprt10-right-row1 {position: relative; left: 0; margin-bottom: 20px; width: auto; }
.einprt10-rtrw1-left {float: none; width: 100%; margin-right: 0; margin-top: 15px; }
.einprt10-rtrw1-right {float: none; width: 100%; margin-left: 0; height: auto; margin-top: 10px; }
.einprt10-rtrw1-right img {height: auto; }
}
@media only screen and (min-width: 320px) and (max-width: 470px) 
{
.container {padding-left: 0; padding-right: 0; }
.main-menu ul.navbar-nav {text-align: right; margin-top: 10px;}
.main-menu .navbar-nav .dropdown-menu {display: block; border: none; border-radius: 0; box-shadow: none; top: 0;}
.main-menu li.nav-item {margin-left: 0; border-left: none; padding: 0; }
.main-menu a.nav-link {padding: 0 0.5rem; line-height: 22px; font-weight: bold;}
.main-menu .dropdown-item {padding: 0 1rem; font-size: 16px; line-height: 20px; }
.main-menu .navbar-toggler-icon {line-height: 1.6; }
header.main-menu.is-sticky .navbar .navbar-brand img {width: 140px !important; }
header.main-menu.not-sticky .navbar .navbar-brand img {width: 140px !important; }
.main-menu .navbar-toggler {padding: 0; font-size: 33px; }
.main-menu .tpmn {right: 50px; top: 9px; text-align: left; }
.main-menu button.navbar-toggler:focus { outline: none; }
.tpmn ul li {display: block; margin-left: 0; }
.tpmn ul li a, .tpmn ul li {font-size: 11px; line-height: 19px; }
.ftr-row-inner {padding: 20px 25px 15px; }
.ftr-left {float: none; width: 100%; padding: 0 50px; }
.ftr-right {float: none; width: 100%; text-align: center; padding-top: 30px; }
.ftr-right .ftr-right-row1 ul li a {font-size: 15px; line-height: 17px; }
.ftr-right .ftr-right-row2 ul li a {font-size: 15px; line-height: 17px; }
.hmprt7-left-row1 {padding-top: 30px; }
.home-part7-left {float: none; width: 100%; padding-left: 10px; padding-right: 10px; padding-bottom: 35px; }
.home-part7-right {float: none; width: 100%; padding-top: 25px; padding-bottom: 35px; padding-left: 10px; padding-right: 10px; }
.hmprt7-right-row1 {margin-top: 10px; }
.hmprt7-left-row1 h2 {margin: 0 0 15px;font-size: 40px; line-height: 40px; }
.hmprt7-left-row1 p {width: auto; margin-bottom: 30px; }
.home-part6-main {display: none; }
.home-part5-main {margin-bottom: 20px; }
.home-part5-inner {max-width: none; margin: 0 auto; width: 100%; height: 526px; padding: 0 10px; }
.hmprt5-top-img {height: 140px; width: 140px; left: 10px; top: -65px; }
.hmprt5-left {width: 263px; height: 263px; bottom: 5%; left: auto; right: 10px; }
.hmprt5-left-inner {padding-left: 50px; padding-bottom: 75px; }
.hmprt5-right {width: 355px; height: 355px; top: 0; right: 10px; padding: 18% 11%; }
.hmprt5-right h6 {font-size: 10px; line-height: 10px; margin: 0 0 5px; }
.hmprt5-right h3 {font-size: 30px; line-height: 27px; margin: 0 0 15px; }
.hmprt5-right p {font-size: 14px; line-height: 19px; }
.hmprt2-left {float: none; width: 100%; margin-right: 0; margin-top: 50px; padding: 0 10px; }
.hmprt2-left-ttl {padding-left: 0; margin-bottom: 15px; }
.hmprt2-left-ttl h6 {font-size: 16px; line-height: 18px; }
.hmprt2-left-ttl h3 {font-size: 40px; line-height: 40px; margin: 0; }
.hmprt2-left-glr-left {float: none; width: 100%; margin-right: 0; }
.hmprt2-left-glr-right {float: none; width: 100%; margin-left: 0; }
.glr-left-scnd {width: 100%; margin-left: 0; }
.glr-right-frst {margin-top: 20px; }
.hmprt2-right {float: none; width: 100%; margin-right: 0; margin-top: 30px; padding: 0 10px; }
.home-part3-main {margin: 0; padding: 35px 0 0; }
.home-part3-inner {padding: 0 10px; }
.hmprt3-row1 {margin: 0 50px 20px; }
.hmprt3-row1 h2 {font-size: 40px; line-height: 40px; }
.hmprt3-row2 {margin: 0; display: flex; flex-wrap: wrap; }
.hmprt3-row2-left {float: none; width: 100%; margin-left: 0; margin-right: 0; order: 2; margin-top: 20px; margin-bottom: 50px; }
.hmprt3-row2-right {float: none; width: 100%; position: relative; box-shadow: 2px 2px 10px #0000004d; order: 1; }
.hmprt3-slide-img {height: 250px; }
.home-part4-inner {padding: 35px 10px 0 10px; }
.hmprt4-row1 {padding-left: 0; margin-bottom: 30px; text-align: center; }
.hmprt4-row1 h2 {font-size: 45px; line-height: 45px; margin: 0 0 25px; }
.hmprt4-row1 p {font-size: 18px; line-height: 25px; margin: 0; width: auto; }
.hmprt4-row3 {width: 355px; height: 355px; padding: 55px 45px; bottom: 0; right: 0; position: relative; }
.hmprt4-row3-inner h3 {font-size: 27px; line-height: 27px; margin: 0 0 20px; }
.hmprt4-row3-inner p {font-size: 15px; line-height: 18px; margin: 0 0 25px; }
.home-part4-main {margin-bottom: 130px; }
.slide-inner-item {display: flex; flex-wrap: wrap; }
.hmprt1-slide-cont {float: none; width: 100%; padding: 15px 20px 15px; order: 2; }
.hmprt1-slide-img {float: none; width: 100%; height: 245px; }
.hmprt1-slide-cont h2 {font-size: 40px; line-height: 45px; text-align: center; }
.home-part1-main {margin-top: 70px; }
.home-slide.owl-theme .owl-nav {display: none; }
.slider-counter {display: none; }
.home-slide.owl-theme .owl-dots {position: absolute; bottom: 120px; left: 50%; transform: translateX(-50%); margin-top: 0 !important; }
.home-part2-main:after {width: 930px; height: 930px; top: -4%; left: auto; right: 0; }
.home-part3-main:after {right: 0%; top: -5%; width: 96%; height: 62%; }
.home-part4-main:after {left: auto; top: -15%; width: 1420px; height: 1420px; z-index: -1; right: 4%; }
.home-part4-main:before {position: absolute; content: ""; left: 5%; bottom: -1%; background-image: url(../gfx/Kreis_2.svg); width: 95%; height: 1524px; z-index: -1; background-repeat: no-repeat; background-size: cover; }

.impre-part1-main:after {display: none; }
.impre-part1-main {margin-top: 120px; }
.impre-part1-inner {width: 90%; }
.impre-part1-inner h1 {font-size: 45px; line-height: 45px; margin: 0 0 25px; }
.impre-part1-inner p {font-size: 15px; line-height: 21px; }

.eintag-part1-inner {display: flex; flex-wrap: wrap; }
.eintag-part1-main:after { display: none; }
.eintag-part1-main {margin-top: 68px; padding-top: 0; }
.einprt1-row1 {margin: 0 10px 0; order: 1;}
.einprt1-row1 h2 {font-size: 55px; line-height: 55px; margin: 0 0 10px; }
.eintag-part1-inner:after { display: none; }
.einprt1-row2 {margin: 0 10px 0 10px; order: 3;}
.einprt1-row2-left {float: none; width: 100%; }
.einprt1-rw2lft-row1 {width: 100%; margin: 0 0 15px; }
.einprt1-rw2lft-row2-col7 {float: none; width: 100%; margin: 0 0 15px; }
.einprt1-rw2lft-row2-col5 {float: none; width: 100%; }
.einprt1-row2-right {float: none; width: 20%; padding: 0; margin: 30px auto; }
.einprt1-row3 {padding: 0 10px; order: 2;}
.einprt1-row3-inner {max-width: none; width: 100%; margin: 0; padding-left: 0; }
.einprt1-row3-inner h3 {font-size: 55px; line-height: 55px; }
.eintag-part2-main {margin: 25px 0 80px; }
.eintag-part2-inner:before { display: none; }
.eintag-part2-inner {margin: 0 10px 0; }
.einprt2-left:after {clear: both; display: block; content: ""; }
.einprt2-left {float: none; width: 100%; margin-right: 0; }
.einprt2-left-row1 {margin: 0 5% 0 0; text-align: left; padding: 0; float: left; width: 25%; }
.einprt2-left-row2 {margin: 0; padding: 0; float: left; width: 70%; }
.einprt2-left-row2 h3 { font-size: 55px; line-height: 55px; }
.einprt2-right {float: none; width: 100%; margin-top: 15px; }
.einprt2-right-glr-left .glr-left-scnd {height: 200px; }
.einprt2-right-glr-right .glr-right-frst {margin-top: 0; height: 332px; }
.eintag-part3-inner {position: relative; margin-top: 0; padding: 0 10px; }
.einprt3-row1 {position: relative; width: 100%; top: 0; left: 0; }
.einprt3-row1-left {float: none; width: 25%; margin-right: auto; margin-left: auto; }
.einprt3-row1-right {float: none; width: 100%; padding-top: 10px; padding: 10px 35px; }
.einprt3-row2 {width: 100%; }
.einprt3-glr-left {float: none; width: 100%; margin-right: 0; padding-top: 0; margin-bottom: 10px; }
.einprt3-left-frst {height: auto; }
.einprt3-left-frst img {height: auto; }
.einprt3-glr-right {float: none; width: 100%; margin-left: 0; }
.einprt3-right-frst {height: auto; width: 100%; margin: 0 0 20px; }
.einprt3-right-frst img {height: auto; }
.einprt3-right-scnd {box-shadow: 2px 2px 9px #0000004d; height: auto; }
.einprt3-right-scnd img {height: auto; width: 100%; }
.einprt3-row1-right h3 { font-size: 55px; line-height: 55px; margin: 0 0 20px; }
.eintag-part3-inner:after { display: none; }
.time-stamp {width: 95px; bottom: -40px; right: 10px; }
.eintag-part4-inner {margin: 0 10px; position: relative; }
.einprt4-row1 {margin-bottom: -30px; }
.einprt4-row1-inner {width: 20%; float: left; margin-right: 0; }
.einprt4-left {float: none; width: 100%; margin-right: 0;}
.einprt4-left h3 { font-size: 55px; line-height: 55px; margin:	0 0 10px;}
.einprt4-left p {font-size: 15px; line-height: 20px; margin: 0 0 10px; }
.einprt4-left-row2 {height: auto; }
.einprt4-left-row1 {width: 100%; margin-left: 0; margin-bottom: 0; padding-left: 23%; }
.eintag-part4-inner:after { display: none; }
.einprt4-right {float: none; width: 100%; margin-top: 10px; height: auto; }
.eintag-part5-inner {padding: 0 10px; }
.einprt5-row1-inner {width: 25%; margin-left: auto; margin-right: auto; }
.einprt5-row1 {margin: 0 0 20px; }
.einprt5-row2 {display: flex; flex-wrap: wrap; }
.einprt5-left {float: none; width: 100%; margin-right: 0; order: 2; }
.einprt5-right {float: none; width: 100%; order: 1; padding: 0 30px; }
.einprt5-right h3 { font-size: 55px; line-height: 55px; margin: 0 0 15px;  }
.einprt5-right p {font-size: 15px; line-height: 20px; margin: 0 0 15px; width: auto; }
.einprt5-left-col4 {float: none; width: 100%; margin-right: 0; height: auto; margin-top: 0; }
.einprt5-left-col4 img {height: auto; }
.einprt5-left-col8 {float: none; width: 100%; margin-left: 0; margin-top: 10px; }
.einprt5-left-col8-glr2 {width: 100%; }
.eintag-part5-inner:after { display: none; }
.eintag-part6-main {margin-top: 50px; }
.einprt6-row1 {text-align: center; }
.einprt6-row1-inner {width: 25%; display: inline-block; margin-right: 0; margin-bottom: 20px; }
.einprt6-row2 {margin: 0; }
.einprt6-left {float: none; width: 100%; margin-right: 0; padding-top: 0; }
.einprt6-right {float: none; width: 100%; }
.einprt6-left-inner {padding: 0 30px; }
.einprt6-left h3 {font-size: 55px; line-height: 55px; margin: 0 0 10px; }
.einprt6-left p {font-size: 15px; line-height: 20px; margin: 0 0 15px; }
.eintag-part6-inner {padding: 0 10px; }
.einprt6-row3-inner {max-width: none; width: 100%; margin: 10px auto; height: auto; }
.einprt6-row3-inner img {height: auto; width: 100%; }
.eintag-part7-inner {padding: 0 10px; }
.einprt7-row1 {margin: 70px 0 20px; }
.einprt7-row1-inner {width: 25%; display: block; margin-left: auto; margin-right: auto; }
.einprt7-row2 {padding: 0; margin-bottom: 20px; display: flex; flex-wrap: wrap; }
.einprt7-left {float: none; width: 100%; order: 2; }
.einprt7-right {float: none; width: 100%; padding-top: 0; margin-left: 0; padding-left: 30px; order: 1; padding-right: 30px; margin-bottom: 15px; }
.einprt7-right h3 {font-size: 55px; line-height: 55px; margin: 0 0 15px; }
.einprt7-right p {font-size: 15px; line-height: 20px; margin: 0; }
.einprt7-row3 {position: relative; bottom: 0; display: inline; width: 100%; left: 0; }
.einprt7-row3-inner {width: 100%; display: inline-block; }
.eintag-part6-inner:after { display: none; }
.eintag-part7-inner:after { display: none; }
.eintag-part8-inner {padding: 0 10px; }
.einprt8-row1 {margin-left: 0; padding: 0 30px; }
.einprt8-row2 {padding: 0; margin-top: 0; }
.einprt8-left {float: none; width: 100%; margin-right: 0; padding: 0 30px; margin-bottom: 15px; }
.einprt8-left-inner {padding-top: 0; }
.einprt8-row1-inner {width: 25%; }
.eintag-part8-main {margin-top: 50px; }
.einprt8-left h3 {font-size: 55px; line-height: 55px; margin: 0 0 15px; }
.einprt8-left p {font-size: 15px; line-height: 20px; margin: 0; }
.eintag-part8-inner:after { display: none; }
.einprt8-right-glr-left {float: none; width: 100%; margin-right: 0; }
.einprt8-glr-left-frst {margin-bottom: 20px; height: auto; }
.einprt8-glr-left-frst img {height: auto; }
.einprt8-glr-left-scnd {width: 100%; margin-left: 0; height: auto; margin-bottom: 15px; }
.einprt8-glr-left-scnd img {height: auto; }
.einprt8-glr-right-frst {height: auto; }
.einprt8-glr-right-frst img {height: auto; }
.einprt8-right {float: none; width: 100%; }
.einprt8-right-glr-right {float: none; width: 100%; margin-left: 0; padding-top: 0; }
.eintag-part9-inner:before { display: none; }
.eintag-part9-inner {padding: 0 10px; display: flex; flex-wrap: wrap; }
.einprt9-left {float: none; width: 100%; height: auto; margin-top: 0; order: 2; }
.einprt9-right {float: none; width: 100%; margin-left: 0; order: 1; }
.einprt9-row1 {width: 25%; margin: 0 auto 20px; }
.einprt9-row2 {padding: 0 30px; }
.einprt9-right .einprt9-row2 h3 {font-size: 55px; line-height: 55px; margin: 0 0 15px; }
.einprt9-right .einprt9-row2 p {font-size: 15px; line-height: 20px; margin: 0 0 15px; }
.einprt9-left img {height: auto; }
.eintag-part10-inner {padding: 80px 10px 0; margin-bottom: 85px; }
.einprt10-left {float: none; width: 100%; }
.einprt10-right {float: none; width: 100%; margin-left: 0; }
.einprt10-left-row1 {width: 25%; margin-left: auto; margin-right: auto; margin-bottom: 25px; }
.einprt10-left-row2 {padding: 0 30px; }
.einprt10-left .einprt10-left-row2 h3 {font-size: 55px; line-height: 55px; margin: 0 0 15px; width: auto; }
.einprt10-left .einprt10-left-row2 p {font-size: 15px; line-height: 20px; margin: 0; }
.einprt10-right-row1 {position: relative; left: 0; margin-bottom: 20px; width: auto; }
.einprt10-rtrw1-left {float: none; width: 100%; margin-right: 0; margin-top: 15px; }
.einprt10-rtrw1-right {float: none; width: 100%; margin-left: 0; height: auto; margin-top: 10px; }
.einprt10-rtrw1-right img {height: auto; }
}