@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Regular/MyriadPro-Regular.eot');
    src: url('../fonts/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MyriadPro-Regular/MyriadPro-Regular.woff2') format('woff2'),
        url('../fonts/MyriadPro-Regular/MyriadPro-Regular.woff') format('woff'),
        url('../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf') format('truetype'),
        url('../fonts/MyriadPro-Regular/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Light/MyriadPro-Light.eot');
    src: url('../fonts/MyriadPro-Light/MyriadPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MyriadPro-Light/MyriadPro-Light.woff2') format('woff2'),
        url('../fonts/MyriadPro-Light/MyriadPro-Light.woff') format('woff'),
        url('../fonts/MyriadPro-Light/MyriadPro-Light.ttf') format('truetype'),
        url('../fonts/MyriadPro-Light/MyriadPro-Light.svg#MyriadPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
/*@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Semibold/MyriadPro-Semibold.eot');
    src: url('../fonts/MyriadPro-Semibold/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MyriadPro-Semibold/MyriadPro-Semibold.woff2') format('woff2'),
        url('../fonts/MyriadPro-Semibold/MyriadPro-Semibold.woff') format('woff'),
        url('../fonts/MyriadPro-Semibold/MyriadPro-Semibold.ttf') format('truetype'),
        url('../fonts/MyriadPro-Semibold/MyriadPro-Semibold.svg#MyriadPro-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}*/
@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-SemiboldCond/MyriadPro-SemiboldCond.eot');
    src: url('../fonts/MyriadPro-SemiboldCond/MyriadPro-SemiboldCond.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MyriadPro-SemiboldCond/MyriadPro-SemiboldCond.woff2') format('woff2'),
        url('../fonts/MyriadPro-SemiboldCond/MyriadPro-SemiboldCond.woff') format('woff'),
        url('../fonts/MyriadPro-SemiboldCond/MyriadPro-SemiboldCond.ttf') format('truetype'),
        url('../fonts/MyriadPro-SemiboldCond/MyriadPro-SemiboldCond.svg#MyriadPro-SemiboldCond') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Bold/MyriadPro-Bold.eot');
    src: url('../fonts/MyriadPro-Bold/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MyriadPro-Bold/MyriadPro-Bold.woff2') format('woff2'),
        url('../fonts/MyriadPro-Bold/MyriadPro-Bold.woff') format('woff'),
        url('../fonts/MyriadPro-Bold/MyriadPro-Bold.ttf') format('truetype'),
        url('../fonts/MyriadPro-Bold/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Myriad Web Pro';
    src: url('../fonts/MyriadWebPro/MyriadWebPro.eot');
    src: url('../fonts/MyriadWebPro/MyriadWebPro.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MyriadWebPro/MyriadWebPro.woff2') format('woff2'),
        url('../fonts/MyriadWebPro/MyriadWebPro.woff') format('woff'),
        url('../fonts/MyriadWebPro/MyriadWebPro.ttf') format('truetype'),
        url('../fonts/MyriadWebPro/MyriadWebPro.svg#MyriadWebPro') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Myriad Web Pro';
    src: url('../fonts/MyriadWebPro-Bold/MyriadWebPro-Bold.eot');
    src: url('../fonts/MyriadWebPro-Bold/MyriadWebPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MyriadWebPro-Bold/MyriadWebPro-Bold.woff2') format('woff2'),
        url('../fonts/MyriadWebPro-Bold/MyriadWebPro-Bold.woff') format('woff'),
        url('../fonts/MyriadWebPro-Bold/MyriadWebPro-Bold.ttf') format('truetype'),
        url('../fonts/MyriadWebPro-Bold/MyriadWebPro-Bold.svg#MyriadWebPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@media (min-width: 1366px) {
  .container {
    max-width: 1200px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1360px;
  }
}


main {overflow: hidden; }
.main-menu li.nav-item {margin-left: 5px; border-left: 1px solid #4B4B4B; padding: 0 6px 0 10px; }
.main-menu li.nav-item:first-child { border-left: none; }
.main-menu li.nav-item:last-child {padding: 0 0 0 10px; }
.main-menu a.nav-link {font-family: 'Myriad Web Pro'; font-weight: normal; font-size: 18px; color: #4B4B4B; padding: 0 0.5rem; }
.main-menu .dropdown-toggle::after { display: none; }
.main-menu .navbar .nav-item:hover .nav-link {color: #4B4B4B; font-weight: bold; }
.main-menu .dropdown-item {padding: 0.25rem 1rem; text-align: right; font-family: 'Myriad Web Pro'; font-weight: normal; font-size: 18px; color: #4B4B4B; }
.main-menu .navbar-nav .dropdown-menu {border: none; border-radius: 0; box-shadow: 0px 5px 10px #0000004d; top: 40px !important; }
.main-menu .container {position: relative; }
.main-menu .tpmn {position: absolute; right: 20px; top: 8px; text-align: right; width: auto; height: auto; }
.tpmn ul {padding: 0; list-style: none; display: inline-block; margin: 0; }
.tpmn ul li {display: inline-block; margin-left: 15px; }
.main-menu ul.navbar-nav {margin-top: 47px; }
.tpmn ul li a {font-family: 'Myriad Web Pro'; font-weight: 600; color: #4B4B4B; font-size: 18px; line-height: 20px; text-decoration: none; }
.is-sticky header.main-menu { padding: 0.5rem 1rem; }
.is-sticky header.main-menu .navbar .navbar-brand img {width: 200px !important;transition: all .4s; }
header.main-menu .navbar { padding: 0; }
header.main-menu {position: sticky; z-index: 1030; top: 0; background: #fff; box-shadow: 0px 5px 10px #0000004d;padding: 2rem 1rem 0.5rem;transition: all .4s; width: 100%;}
.is-sticky .main-menu ul.navbar-nav {margin-top: 34px; transition: all .4s;}

/* Footer */
.ftr-row-inner {background: #2B2E3D; padding: 15px 85px; }
.ftr-left {float: left; width: 25%; }
.ftr-right {float: left; width: 75%; text-align: right; padding-top: 10px; }
.ftr-right ul {padding: 0; margin: 0; list-style: none; }
.ftr-right ul li {display: inline-block; }
.ftr-right-row1 {margin: 0 0 5px; }
.ftr-right ul li:first-child {border-left: none; }
.ftr-right ul li:last-child {padding-right: 0; }
.ftr-right .ftr-right-row1 ul li a {font-size: 18px; line-height: 25px; display: inline-block; color: #fff; font-family: Myriad Pro; font-weight: bold; border-left: 1px solid #fff; padding-right: 10px; padding-left: 10px;}
.ftr-right .ftr-right-row2 ul li a {font-size: 18px; line-height: 25px; display: inline-block; color: #fff; font-family: Myriad Pro; font-weight: 300; border-left: 1px solid #fff; padding-right: 10px; padding-left: 10px;}
.ftr-row {background: #F2F2F2; }
.ftr-right .ftr-right-row2 ul li:first-child a { border-left: none; }
.ftr-right .ftr-right-row1 ul li:first-child a { border-left: none; }
/* Footer */


/*HOme page */
.home-part2-main { position: relative; }
.home-part2-main:after {position: absolute; background-image: url(../gfx/Kreis_3.svg); background-repeat: no-repeat; content: ""; width: 1151px; height: 1151px; top: -50%; background-size: cover; left: -20%; z-index: -1; }
.home-part1-main {margin-top: 15px; }
.hmprt1-slide-cont {float: left; width: 24.5%; background: transparent linear-gradient(180deg, #67768F 0%, #2C2F2A 100%) 0% 0% no-repeat padding-box; box-shadow: 2px 2px 10px #0000004d; padding: 265px 20px 175px; }
.hmprt1-slide-img {float: left; width: 75.5%; height: 680px; background-size: cover; background-position: center center; background-repeat: no-repeat; box-shadow: 2px 2px 10px #0000004d; }
.slide-inner-item:after { clear: both; display: block; content: ""; }
.hmprt1-slide-cont h2 {font-size: 60px; line-height: 60px; color: #fff; font-family: 'Myriad Pro'; font-weight: 600; margin: 0; }
.home-slide.owl-theme .owl-nav {margin-top: 0; position: absolute; bottom: 51px; left: 20px; width: 110px; }
.home-slide.owl-carousel .owl-nav button.owl-prev {position: relative; left: -20px; background: transparent !important; top: 0; color: #C3C8D0 !important; outline: none; }
.home-slide.owl-carousel .owl-nav button.owl-next {position: relative; right: -20px; top: 0; color: #C3C8D0 !important; background: transparent !important; outline: none; }
.slider-counter {position: absolute; bottom: 56px; left: 59px; z-index: 9; color: #C3C8D0 !important; font-family: 'Myriad Pro'; font-weight: 400; font-size: 17px; line-height: 20px; }
.home-part1-inner {position: relative; box-shadow: 2px 2px 10px #0000004D; }
/*.home-part3-main { background-image: url('../gfx/Kreis_2.svg'); background-repeat: no-repeat; background-position: 370px center; margin: -50px 0 80px; padding: 200px 0; background-size: auto; }*/
.home-part3-main {padding: 200px 0; position: relative; margin: 0 0 80px; }
.home-part3-main:after {position: absolute; content: ""; right: -13%; top: -2%; background-image: url(../gfx/Kreis_2.svg); width: 1790px; height: 1790px; z-index: -1; background-repeat: no-repeat; background-size: cover; }
.hmprt3-row1 h6 {font-family: 'Myriad Pro'; font-style: italic; font-size: 18px; line-height: 20px; color: #4B4B4B; text-align: center; margin: 0 0 10px; }
.hmprt3-row1 h2 {font-family: 'Myriad Pro'; font-weight: 600; text-align: center; font-size: 60px; line-height: 60px; color: #2B2E3D; margin: 0; }
.hmprt3-row2:after {clear: both; display: block; content: ""; }
.hmprt3-row2-left {float: left; width: 28%; margin-left: 5%; margin-right: 15%; }
.hmprt3-row2-right {float: left; width: 52%; position: relative; box-shadow: 2px 2px 10px #0000004d; }
.hmprt3-slide-img {height: 492px; background-size: cover; background-position: center center; background-repeat: no-repeat; }
.hmprt3-row2-left h5 {font-family: 'Myriad Pro'; font-weight: 600; font-size: 18px; line-height: 24px; color: #4B4B4B; margin: 0 0 35px; }
.hmprt3-row2-left p {font-family: 'Myriad Pro'; font-weight: 300; font-size: 18px; line-height: 28px; color: #4B4B4B; margin: 0 0 35px; }
.hmprt3-row2-left ul {margin: 0 0 35px; padding: 0 0 0 16px; }
.hmprt3-row2-left ul li {font-family: 'Myriad Pro'; font-weight: 300; font-size: 18px; line-height: 28px; color: #4B4B4B; }
.hmprt3-row2-left a {font-family: 'Myriad Pro'; font-weight: normal; font-size: 14px; color: #4B4B4B; display: inline-block; line-height: 50px; border: 1px solid #4B4B4B; border-radius: 9px; padding: 0 20px; }
.hmprt3-row2-slide.owl-theme .owl-nav {margin: 0; width: 100px; position: absolute; right: 20px; bottom: 0; background: #fff; padding: 20px 0 0; border-radius: 50% 50% 0 0/100% 100% 0 0; }
.hmprt3-row2-slide.owl-carousel .owl-nav button.owl-prev {position: relative; right: 16px; background: transparent !important; color: #C3C8D0 !important; outline: none; }
.hmprt3-row2-slide.owl-carousel .owl-nav button.owl-next {position: relative; left: 16px; background: transparent !important; top: 0; color: #C3C8D0 !important; outline: none; }
.hmprt3-row2-counter {position: absolute; bottom: 7px; right: 57px; z-index: 9; font-family: 'Myriad Pro'; font-weight: 400; font-size: 17px; line-height: 20px; color: #C3C8D0 !important;}
.hmprt3-row3:after {clear: both; display: block; content: ""; }
.hmprt3-row1 {margin: 0 0 100px; }
.hmprt3-row2 {margin: 0 0 110px; }
.hmprt3-row3-slide.owl-theme .owl-nav {margin: 0; width: 100px; position: absolute; left: 20px; bottom: 0; background: #fff; padding: 20px 0 0; border-radius: 50% 50% 0 0/100% 100% 0 0; }
.hmprt3-row3-slide.owl-carousel .owl-nav button.owl-prev {position: relative; right: 16px; background: transparent !important; color: #C3C8D0 !important; outline: none; }
.hmprt3-row3-slide.owl-carousel .owl-nav button.owl-next {position: relative; left: 16px; background: transparent !important; top: 0; color: #C3C8D0 !important; outline: none; }
.hmprt3-row3-counter {position: absolute; bottom: 7px; left: 57px; z-index: 9; font-family: 'Myriad Pro'; font-weight: 400; font-size: 17px; line-height: 20px; color: #C3C8D0 !important;}
.hmprt3-row2-left a i.fa {padding-left: 10px; position: relative; top: 2px; font-size: 18px; }
.home-part2-inner:after {clear: both; display: block; content: ""; }
.hmprt2-left {float: left; width: 60%; margin-right: 5%; margin-top: 80px; }
.hmprt2-right {float: left; width: 30%; margin-right: 5%; margin-top: 100px; }
.hmprt2-right p {font-family: 'Myriad Pro'; font-weight: 300; color: #4B4B4B; font-size: 18px; line-height: 25px; margin: 0 0 25px; }
.hmprt2-right h5 {font-family: 'Myriad Pro'; font-weight: bold; font-size: 18px; line-height: 20px; color: #4B4B4B; margin: 0 0 25px; }
.hmprt2-left-ttl {padding-left: 25%; margin-bottom: 50px; }
.hmprt2-left-ttl h6 {font-family: 'Myriad Pro'; font-style: italic; color: #4B4B4B; font-size: 18px; line-height: 20px; margin: 0 0 10px; }
.hmprt2-left-ttl h3 {font-size: 60px; font-weight: 600; font-family: 'Myriad Pro'; line-height: 60px; color: #2B2E3D; margin: 0; }
.hmprt2-left-glr-left {float: left; width: calc(50% - 10px); margin-right: 10px; }
.glr-left-frst {margin: 0 0 20px; box-shadow: 2px 2px 9px #0000004d; }
.glr-left-scnd {box-shadow: 2px 2px 9px #0000004d; width: 85%; margin-left: 15%; }
.hmprt2-left-glr-right {float: left; width: calc(50% - 10px); margin-left: 10px; }
.hmprt2-left-glr:after {clear: both; display: block; content: ""; }
.glr-right-frst {box-shadow: 2px 2px 9px #0000004d; margin-top: 120px; }
.home-part7-main {background: #F2F2F2; }
.home-part7-left {float: left; width: 50%; padding-left: 85px;}
.home-part7-right {float: left; width: 50%; padding-top: 140px; padding-bottom: 85px; background: #fff; padding-left: 20px; padding-right: 85px; }
.home-part7-right h4 {font-size: 18px; line-height: 20px; color: #2B2E3D; font-family: 'Myriad Pro'; font-weight: bold; margin: 0; }
.hmprt7-right-row1 .form-group .form-control { border: none; border-radius: 0; color: #4B4B4B; font-family: 'Myriad Pro'; font-weight: 300; font-size: 18px; }
.hmprt7-right-row1 .form-group {border-bottom: 1px solid #4B4B4B; margin-bottom: 2rem;}
.hmprt7-right-row1 .form-group .form-control:focus { box-shadow: none; border-color: #4B4B4B; }
.hmprt7-right-row1 .form-group textarea.form-control {border-left: 1px solid #4B4B4B; border-right: 1px solid #4B4B4B; border-top: 1px solid #4B4B4B; height: 230px; box-shadow: none; resize: none; }
.form-control::-webkit-input-placeholder {color: #4B4B4B;}
.form-control:-moz-placeholder {color:#4B4B4B;opacity:  1;}
.form-control::-moz-placeholder {color:#4B4B4B;opacity:  1;}
.form-control:-ms-input-placeholder {color:#4B4B4B;}
.form-control::-ms-input-placeholder {color:#4B4B4B;}
.form-control::placeholder {color:#4B4B4B;}
.hmprt7-right-row1 .form-group label {font-family: 'Myriad Pro'; font-weight: 300; font-size: 18px; line-height: 20px; color: #4B4B4B; }
.hmprt7-right-row1 button[type="submit"] {border: 1px solid #4B4B4B; background: transparent; box-shadow: none; border-radius: 5px; line-height: 50px; padding: 0 35px; color: #4B4B4B; font-size: 14px; font-family: 'Myriad Pro'; font-weight: normal; cursor: pointer;}
.hmprt7-right-row1 button[type="submit"] i.fa {position: relative; left: 5px; top: 2px; }
.hmprt7-right-row1 {margin-top: 45px; }
.hmprt7-left-row1 {padding-top: 130px; }
.hmprt7-left-row1 h2 {font-size: 60px; line-height: 60px; font-family: 'Myriad Pro'; color: #2B2E3D; font-weight: 600; margin: 0 0 45px; }
.hmprt7-left-row1 p {font-family: 'Myriad Pro'; font-size: 18px; line-height: 23px; font-weight: 300; width: 320px; color: #4B4B4B; margin-bottom: 100px; }
.hmprt7-left-row2 h6 {font-family: 'Myriad Pro'; font-size: 18px; line-height: 20px; font-weight: bold; color: #4B4B4B; margin: 0 0 25px; }
.hmprt7-left-row2 p {font-family: 'Myriad Pro'; font-size: 18px; line-height: 23px; font-weight: 300; color: #4B4B4B; margin-bottom: 30px; }
.hmprt7-left-row2 ul li a {font-family: 'Myriad Pro'; font-weight: bold; font-size: 18px; line-height: 20px; color: #4B4B4B; }
.hmprt7-left-row2 ul {margin: 0; padding: 0; list-style: none; }
.home-part6-inner {background-repeat: no-repeat; height: 666px; background-size: cover; border-radius: 50% 50% 0 0/100% 100% 0 0; width: 95%; margin: 0 auto; background-position: center center; box-shadow: 10px 10px 10px #0000004d; }
.home-part5-main {margin-bottom: 80px; }
.home-part5-inner {max-width: 900px; margin: 0 auto; width: 100%; position: relative; height: 602px; }
.hmprt5-left {width: 330px; height: 330px; background: #8E1A5F; border-radius: 50%; position: absolute; bottom: 13%; left: 35px; }
.hmprt5-left-inner {padding-left: 60px; padding-bottom: 100px; }
.hmprt5-left p {font-size: 18px; line-height: 20px; margin: 0; color: #FFFFFF; font-family: 'Myriad Pro'; font-weight: normal; }
.hmprt5-left a {font-family: 'Myriad Pro'; font-weight: bold; color: #fff; font-size: 18px; line-height: 20px; text-decoration: none; }
.hmprt5-right {width: 602px; height: 602px; background: #E7E9EB; border-radius: 50%; position: absolute; top: 0; right: 0; padding: 16% 10%; text-align: center; box-shadow: 5px 5px 10px #0000004d; }
.hmprt5-right h6 {color: #8E1A5F; font-family: 'Myriad Pro'; font-style: italic; font-size: 18px; line-height: 20px; margin: 0 0 10px; }
.hmprt5-right h3 {font-size: 60px; line-height: 60px; font-family: 'Myriad Pro'; font-weight: 600; margin: 0 0 25px; color: #2B2E3D; }
.hmprt5-right p {font-size: 18px; line-height: 25px; font-family: 'Myriad Pro'; font-weight: 300; color: #4B4B4B; }
.hmprt5-top-img {position: absolute; height: 238px; width: 238px; left: 12%; z-index: 2; top: 65px; background-size: cover; background-repeat: no-repeat; }

.home-part4-main { position: relative; margin-bottom: 260px; }
.home-part4-main:after {background-image: url(../gfx/Kreis_3.svg); background-repeat: no-repeat;  position: absolute; content: ""; left: 3%; top: 0; width: 1420px; height: 1420px; z-index: -1;background-size: cover; }

.home-part4-inner {padding: 65px 215px 200px 215px; position: relative; }
.hmprt4-row1 h6 {font-family: 'Myriad Pro'; font-style: italic; color: #4B4B4B; font-size: 18px; line-height: 20px; margin: 0 0 10px; }
.hmprt4-row1 h2 {font-family: 'Myriad Pro'; font-weight: 600; font-size: 60px; line-height: 60px; color: #2B2E3D; margin: 0 0 50px; }
.hmprt4-row1 p {font-family: 'Myriad Pro'; font-weight: 300; font-size: 18px; line-height: 25px; color: #4B4B4B; margin: 0; width: 360px; }
.hmprt4-icon {width: 80px; height: 80px; margin: 0 auto 35px; padding: 20px; border-radius: 50%; background: #fff; box-shadow: 2px 2px 10px #0000004d; }
.hmprt4-icon img {width: 100%; height: 100%; }
.hmprt4-icon h4 {text-align: center; margin: 0; line-height: 40px; font-size: 60px; color: #000; }
.hmprt4-contant {text-align: center; width: 200px; margin: 0 auto 25px; height: 100px; }
.hmprt4-contant h4 {color: #4B4B4B; font-family: 'Myriad Pro'; font-weight: bold; font-size: 18px; line-height: 25px; margin: 0; }
.hmprt4-contant p {font-family: 'Myriad Pro'; font-weight: 300; font-size: 18px; line-height: 25px; margin: 0; }
.hmprt4-row1 {padding-left: 0; margin-bottom: 130px; }
.hmprt4-row3 {width: 480px; height: 480px; background: #CDD973; border-radius: 50%; padding: 85px 70px; text-align: center; position: absolute; bottom: -10%; right: 5%; box-shadow: 2px 2px 10px #0000004d; }
.hmprt4-row3-inner h3 {font-family: 'Myriad Pro'; font-weight: 600; color: #fff; font-size: 50px; line-height: 50px; margin: 0 0 30px; }
.hmprt4-row3-inner p {font-family: 'Myriad Pro'; font-size: 18px; font-weight: normal; color: #fff; line-height: 24px; margin: 0 0 25px; }
.hmprt4-row3-inner a {font-family: 'Myriad Pro'; font-weight: normal; font-size: 18px; line-height: 30px; color: #fff; display: inline-block; }
.hmprt4-row3-inner a i.fa {margin-left: 15px; font-size: 36px; font-weight: 300; position: relative; top: 8px; }
/* Home page */

/* Impressum */
.impre-part1-main {margin-top: 200px; margin-bottom: 100px; position: relative; }
.impre-part1-main:after {position: absolute; background-image: url(../gfx/Kreis_3.svg); background-repeat: no-repeat; content: ""; width: 1151px; height: 1151px; top: -4%; background-size: cover; left: -20%; z-index: -1; }
.impre-part1-inner {width: 70%; margin: 0 auto; }
.impre-part1-inner h1 {font-family: 'Myriad Pro'; font-weight: 600; font-size: 60px; line-height: 60px; color: #2B2E3D; margin: 0 0 60px; }
.impre-part1-inner p {font-family: 'Myriad Pro'; font-weight: 300; font-size: 18px; line-height: 25px; margin: 0; color: #4B4B4B; }
/* Impressum */


.eintag-part1-main {margin-top: 80px; position: relative; padding-top: 150px;}
.eintag-part1-main:after {position: absolute; content: ""; right: -5%; top: 0; background-image: url(../gfx/Kreis_2.svg); width: 1665px; height: 1665px; z-index: -1; background-repeat: no-repeat; background-size: cover; }
.eintag-part2-main {margin: 0 0 80px; }
.einprt1-row1 {margin: 0 120px 0; }
.einprt1-row1 h6 {font-family: 'Myriad Pro'; font-style: italic; font-size: 18px; line-height: 20px; color: #4B4B4B; margin: 0 0 10px; }
.einprt1-row1 h2 {font-family: 'Myriad Pro'; font-weight: 600; font-size: 60px; line-height: 60px; color: #2B2E3D; margin: 0 0 50px; }
.einprt1-row1 p {font-family: 'Myriad Pro'; font-weight: 300; color: #4B4B4B; font-size: 18px; line-height: 25px; margin: 0 0 20px; }
.einprt1-row2-col1 {float: left; width: 28%; margin-right: 2%; }
.einprt1-row2-col1-glr {height: 372px; box-shadow: 2px 2px 9px #0000004d; margin-top: 80px; }
.einprt1-row2-col1-glr img {height: 100%; }
.einprt1-row2-col2 {float: left; width: 39%; margin-right: 2%; }
.einprt1-row2-col2-glr {height: 340px; box-shadow: 2px 2px 9px #0000004d; }
.einprt1-row2-col2-glr img {height: 100%; }
.einprt1-row2-col3-inner {padding: 0 20px 0 125px; }
.einprt1-row2-col3 {float: left; width: 29%; }
.einprt1-row2:after {clear: both; display: block; content: ""; }
.einprt1-row3-inner h6 {font-family: 'Myriad Pro'; font-style: italic; font-size: 18px; line-height: 20px; margin: 0 0 10px; color: #4B4B4B; }
.einprt1-row3-inner h3 {font-family: 'Myriad Pro'; font-weight: 600; font-size: 60px; color: #2B2E3D; line-height: 60px; margin: 0 0 20px; }
.einprt1-row3-inner p {font-family: 'Myriad Pro'; font-weight: 300; color: #4B4B4B; font-size: 18px; line-height: 25px; margin: 0; }
.einprt1-row3-inner {max-width: 350px; width: 100%; margin: -15px auto 0; padding-left: 40px;}
.eintag-part2-inner:after {clear: both; display: block; content: ""; }
.einprt2-left {float: left; width: 30%; margin-right: 4%; }
.einprt2-left-row1 {margin: -25px 0 0; text-align: right; padding: 0 0 0 155px; }
.einprt2-right {float: left; width: 66%; }
.einprt2-right-glr:after {clear: both; display: block; content: ""; }
.einprt2-right-glr-left {float: left; width: calc(50% - 10px); margin-right: 10px; }
.einprt2-right-glr-right {float: left; width: calc(50% - 10px); margin-left: 10px; }
.einprt2-left-row2 {margin: 125px 0 0; padding: 0 65px 0 0; }
.einprt2-left-row2 h6 {font-family: 'Myriad Pro'; font-style: italic; font-size: 18px; line-height: 20px; margin: 0 0 10px; color: #4B4B4B; }
.einprt2-left-row2 h3 {font-family: 'Myriad Pro'; font-weight: 600; font-size: 60px; color: #2B2E3D; line-height: 60px; margin: 0 0 20px; }
.einprt2-left-row2 p {font-family: 'Myriad Pro'; font-weight: 300; color: #4B4B4B; font-size: 18px; line-height: 25px; margin: 0; }
.eintag-part2-inner {margin: 150px 95px 0; position: relative; }
.einprt2-right-glr-left .glr-left-scnd img {height: 100%; }
.einprt2-right-glr-left .glr-left-scnd {height: 430px; }
.einprt2-right-glr-right .glr-right-frst {margin-top: 80px; height: 510px; }
.einprt2-right-glr-right .glr-right-frst img {height: 100%; }
.eintag-part3-main {position: relative; padding-bottom: 90px; }
.eintag-part3-main:after {position: absolute; content: ""; top: -36%; left: 0; background-image: url(../gfx/Kreis_2.svg); width: 1360px; height: 1360px; z-index: -2; background-repeat: no-repeat; background-size: cover; }
.einprt3-row1-right h6 {font-family: 'Myriad Pro'; font-style: italic; font-size: 18px; line-height: 20px; margin: 0 0 10px; color: #4B4B4B; }
.einprt3-row1-right h3 {font-family: 'Myriad Pro'; font-weight: 600; font-size: 60px; color: #2B2E3D; line-height: 60px; margin: 0 0 40px; }
.einprt3-row1-right p {font-family: 'Myriad Pro'; font-weight: 300; color: #4B4B4B; font-size: 18px; line-height: 25px; margin: 0; }
.einprt3-row2-right p b {font-weight: bold; }
.einprt3-row2-right ul { margin: 0; padding-left: 15px;}
.einprt3-row2-right ul li {font-family: 'Myriad Pro'; font-weight: 300; color: #4B4B4B; font-size: 18px; line-height: 25px; }
.einprt3-row2 { width: 80%; }
.einprt3-row2-left:after {clear: both; display: block; content: ""; }
.einprt3-row2-right {float: left; width: 37%; }
.einprt3-glr-left {float: left; width: calc(38% - 10px); margin-right: 10px; padding-top: 220px; }
.einprt3-glr-right {float: left; width: calc(62% - 10px); margin-left: 10px; }
.einprt3-left-frst {box-shadow: 2px 2px 9px #0000004d; height: 293px; }
.einprt3-left-frst img {height: 100%; }
.einprt3-right-frst {box-shadow: 2px 2px 9px #0000004d; height: 395px; width: 52%; margin: 0 0 20px; }
.einprt3-right-frst img {height: 100%; }
.einprt3-right-scnd img {height: 100%; width: 100%;}
.einprt3-right-scnd {box-shadow: 2px 2px 9px #0000004d; height: 400px; }
.einprt4-left h6 {font-family: 'Myriad Pro'; font-style: italic; font-size: 18px; line-height: 20px; margin: 0 0 10px; color: #4B4B4B; }
.einprt4-left h3 {font-family: 'Myriad Pro'; font-weight: 600; font-size: 60px; color: #2B2E3D; line-height: 60px; margin: 0 0 40px; }
.einprt4-left p {font-family: 'Myriad Pro'; font-weight: 300; color: #4B4B4B; font-size: 18px; line-height: 25px; margin: 0 0 25px; }
.eintag-part4-inner {margin: 0 50px; position: relative;}
.eintag-part4-inner:after {position: absolute; content: ""; background-image: url(../gfx/Pfeil_9.svg); width: 800px; height: 760px; bottom: -10%; right: 15%; background-repeat: no-repeat; z-index: -1; }
.einprt4-left {float: left; width: 51%; margin-right: 2%; }
.einprt4-left-row1 {width: 50%; margin-left: 8%; margin-bottom: 10%; }
.einprt4-right {float: left; width: 47%; box-shadow: 2px 2px 10px #0000004d; margin-top: 5%; height: 485px; }
.einprt4-row2 .einprt4-right img {height: 100%; width: 100%; }
.einprt4-left-row2 {box-shadow: 2px 2px 9px #0000004d; height: 320px; }
.einprt4-left-row2 img {height: 100%; width: 100%; }
.einprt4-row1:after {clear: both; display: block; content: ""; }
.einprt4-row2:after {clear: both; display: block; content: ""; }
.einprt4-row1-inner {width: 15%; float: right; margin-right: 10%; }
.eintag-part4-main {margin: 0 0 100px; }

.eintag-part1-inner { position: relative; }
.eintag-part1-inner:after {position: absolute; content: ""; background-image: url(../gfx/Pfeil_1.svg); width: 800px; height: 665px; bottom: -17%; right: 8%; background-repeat: no-repeat; transform: rotate(-5deg); }
.eintag-part2-inner:before {position: absolute; content: ""; background-image: url(../gfx/Pfeil_Lang_2.svg); width: 100px; height: 640px; top: 25%; left: 25%; background-repeat: no-repeat; }

.eintag-part3-inner { position: relative; margin-top: 140px;}
.eintag-part3-inner:after {position: absolute; content: ""; background-image: url(../gfx/Pfeil_Lang_3.svg); width: 666px; height: 845px; bottom: -24%; right: 31%; background-repeat: no-repeat; transform: rotate(0deg); z-index: -1; }
.einprt3-row1-left img {width: 100%; }
.einprt3-row1-left {float: left; width: 14%; margin-right: 32%; margin-left: 14%; }
.einprt3-row1-right {float: left; width: 20%; padding-top: 55px; }
.einprt3-row1:after {clear: both; display: block; content: ""; }
.einprt1-row2 {margin: -130px 95px 0 15px; }
.einprt1-row2-left {float: left; width: 75%; }
.einprt1-rw2lft-row1 {width: 52%; margin: 0 0 15px 12%; }
.einprt1-row2-right {float: left; width: 25%; padding: 11% 0 0 9%; }
.einprt1-rw2lft-row2-col12 {box-shadow: 2px 2px 9px #0000004d; }
.einprt1-rw2lft-row2-col7 {float: left; width: 51.5%; margin: 0 2% 0 0; }
.einprt1-rw2lft-row2-col5 {float: left; width: 46.5%; }
.einprt1-rw2lft-row2-col12 {box-shadow: 2px 2px 9px #0000004d; }
.einprt1-row2-col7-glr {box-shadow: 2px 2px 9px #0000004d; }
.einprt1-row2-col5-glr {box-shadow: 2px 2px 9px #0000004d; }
.einprt3-row1 {position: absolute; width: 100%; top: -55px; left: 0; }

.eintag-part5-inner {padding: 0 50px; }
.eintag-part5-inner:after {position: absolute; content: ""; background-image: url(../gfx/Pfeil_5.svg); width: 620px; height: 750px; bottom: -14%; right: 35%; background-repeat: no-repeat; transform: rotate(0deg); z-index: -1; }
.eintag-part5-main {position: relative; }
.eintag-part5-main:after {position: absolute; content: ""; top: -3%; right: -2%; background-image: url(../gfx/Kreis_2.svg); width: 1518px; height: 1518px; z-index: -2; background-repeat: no-repeat; background-size: cover; }
.einprt5-row1-inner {width: 200px; margin-left: 9%; }
.einprt5-right h6 {font-family: 'Myriad Pro'; font-style: italic; font-size: 18px; line-height: 20px; margin: 0 0 10px; color: #4B4B4B; }
.einprt5-right h3 {font-family: 'Myriad Pro'; font-weight: 600; font-size: 60px; color: #2B2E3D; line-height: 60px; margin: 0 0 40px; }
.einprt5-right p {font-family: 'Myriad Pro'; font-weight: 300; color: #4B4B4B; font-size: 18px; line-height: 25px; margin: 0 0 25px; width: 70%;}
.einprt5-row2:after {clear: both; display: block; content: ""; }
.einprt5-left {float: left; width: calc(66% - 30px); margin-right: 30px; }
.einprt5-right {float: left; width: 34%; }
.einprt5-left-inner:after {clear: both; display: block; content: ""; }
.einprt5-left-col4 {float: left; width: calc(34% - 10px); margin-right: 10px; height: 372px; box-shadow: 2px 2px 9px #0000004d; margin-top: 100px; }
.einprt5-left-col8 {float: left; width: calc(66% - 10px); margin-left: 10px; }
.einprt5-left-col4 img {height: 100%; }
.einprt5-left-col8-glr1 {box-shadow: 2px 2px 9px #0000004d; margin-bottom: 10px; }
.einprt5-left-col8-glr2 {width: 62%; box-shadow: 2px 2px 9px #0000004d; }
.einprt5-left-col4 img {height: 100%; }
.einprt5-row1 {margin: 0 0 100px; }
.eintag-part6-inner {position: relative; }
.eintag-part6-inner:after {position: absolute; content: ""; background-image: url(../gfx/Pfeil_6.svg); background-repeat: no-repeat; right: 20%; top: 21%; width: 453px; height: 835px; z-index: -1; }
.einprt6-row1 {text-align: right; }
.einprt6-row1-inner {width: 170px; display: inline-block; margin-right: 15%; margin-bottom: 30px; }
.einprt6-row2 {margin: 0 25px 20px 75px; }
.einprt6-row2:after { clear: both; display: block; content: ""; }
.einprt6-left h6 {font-family: 'Myriad Pro'; font-style: italic; font-size: 18px; line-height: 20px; margin: 0 0 10px; color: #4B4B4B; }
.einprt6-left h3 {font-family: 'Myriad Pro'; font-weight: 600; font-size: 60px; color: #2B2E3D; line-height: 60px; margin: 0 0 40px; }
.einprt6-left p {font-family: 'Myriad Pro'; font-weight: 300; color: #4B4B4B; font-size: 18px; line-height: 25px; margin: 0;}
.einprt6-left {float: left; width: 24%; margin-right: 7.5%; padding-top: 95px; }
.einprt6-right {float: left; width: 68.5%; }
.einprt6-right-inner {box-shadow: 2px 2px 9px #0000004d; }
.einprt6-row3-inner {max-width: 650px; width: 100%; margin: 0 auto; height: 245px; box-shadow: 2px 2px 9px #0000004d; }
.einprt6-row3-inner img {height: 100%; width: 100%; }
.eintag-part7-inner { position: relative; }
.eintag-part7-inner:after {position: absolute; content: ""; background-image: url(../gfx/Pfeil_7.svg); background-repeat: no-repeat; left: 28%; top: 21%; width: 162px; height: 813px; z-index: -1; }
.eintag-part7-main { position: relative; }
.eintag-part7-main:after {position: absolute; content: ""; top: 5%; left: -6%; background-image: url(../gfx/Kreis_3.svg); width: 1518px; height: 1518px; z-index: -2; background-repeat: no-repeat; background-size: cover; }
.einprt7-row1 {margin: 100px 0; }
.einprt7-row1-inner {width: 200px; display: inline-block; margin-left: 30%; }
.einprt7-row2:after { clear: both; display: block; content: ""; }
.einprt7-row2 {padding: 0 100px 0 30px; margin-bottom: 20px;}
.einprt7-left {float: left; width: 50%; }
.einprt7-left-inner {height: 355px; box-shadow: 2px 2px 9px #0000004d; }
.einprt7-left-inner img {height: 100%; width: 100%; }
.einprt7-right h6 {font-family: 'Myriad Pro'; font-style: italic; font-size: 18px; line-height: 20px; margin: 0 0 10px; color: #4B4B4B; }
.einprt7-right h3 {font-family: 'Myriad Pro'; font-weight: 600; font-size: 60px; color: #2B2E3D; line-height: 60px; margin: 0 0 40px; }
.einprt7-right p {font-family: 'Myriad Pro'; font-weight: 300; color: #4B4B4B; font-size: 18px; line-height: 25px; margin: 0;}
.einprt7-right {float: left; width: 25%; padding-top: 111px; margin-left: 21%; }
.einprt7-row3 {position: relative; bottom: 60px; display: inline; width: 100%; left: 30%; }
.einprt7-row3-inner {width: 34%; display: inline-block; box-shadow: 2px 2px 9px #0000004d; }
.eintag-part8-inner { position: relative; }
.eintag-part8-inner:after {position: absolute; content: ""; background-image: url(../gfx/Pfeil_8.svg); background-repeat: no-repeat; left: 20%; top: 27%; width: 613px; height: 847px; z-index: -1; }
.einprt8-row1 {margin-left: 12%; }
.einprt8-row1-inner {width: 250px; display: inline-block; }
.einprt8-left h6 {font-family: 'Myriad Pro'; font-style: italic; font-size: 18px; line-height: 20px; margin: 0 0 10px; color: #4B4B4B; }
.einprt8-left h3 {font-family: 'Myriad Pro'; font-weight: 600; font-size: 60px; color: #2B2E3D; line-height: 60px; margin: 0 0 40px; }
.einprt8-left p {font-family: 'Myriad Pro'; font-weight: 300; color: #4B4B4B; font-size: 18px; line-height: 25px; margin: 0;}
.einprt8-row2:after { display: block; content: ""; clear: both; }

.einprt8-row2 {padding: 0 25px 20px 75px; margin-top: -60px; }
.einprt8-left {float: left; width: 23.5%; margin-right: 10.5%; }
.einprt8-right {float: left; width: 66%; }
.einprt8-right-inner:after {clear: both; display: block; content: ""; }
.einprt8-right-glr-left {float: left; width: calc(74% - 10px); margin-right: 10px; }
.einprt8-right-glr-right {float: left; width: calc(26% - 10px); margin-left: 10px; padding-top: 250px; }
.einprt8-glr-right-frst {height: 275px; box-shadow: 2px 2px 9px #0000004D; }
.einprt8-glr-right-frst img {height: 100%; }
.einprt8-glr-left-frst {box-shadow: 2px 2px 9px #0000004d; margin-bottom: 20px; height: 400px; }
.einprt8-glr-left-frst img {height: 100%; }
.einprt8-glr-left-scnd {width: 51%; margin-left: 49%; height: 405px; box-shadow: 2px 2px 9px #0000004d; }
.einprt8-glr-left-scnd img {height: 100%; }
.einprt8-left-inner {padding-top: 420px; }
.einprt9-right .einprt9-row2 h6 {font-family: 'Myriad Pro'; font-style: italic; font-size: 18px; line-height: 20px; margin: 0 0 10px; color: #4B4B4B; }
.einprt9-right .einprt9-row2 h3 {font-family: 'Myriad Pro'; font-weight: 600; font-size: 60px; color: #2B2E3D; line-height: 60px; margin: 0 0 40px; }
.einprt9-right .einprt9-row2 p {font-family: 'Myriad Pro'; font-weight: 300; color: #4B4B4B; font-size: 18px; line-height: 25px; margin: 0;}
.eintag-part9-inner:after {clear: both; display: block; content: ""; }
.einprt9-right {float: left; width: 31%; margin-left: 6%; }
.eintag-part9-inner {padding: 0 15% 0 25%; position: relative; }
.eintag-part9-inner:before {position: absolute; content: ""; background-image: url(../gfx/Pfeil_9.svg); background-repeat: no-repeat; left: 17%; top: 19%; width: 650px; height: 785px; z-index: -1; }
.einprt9-left {float: left; width: 63%; height: 730px; box-shadow: 2px 2px 9px #0000004d; margin-top: 90px; }
.einprt9-left img {height: 100%; }
.eintag-part9-main {margin-top: 100px; }
.einprt9-row1 {margin-bottom: 45px; }
.eintag-part10-main {position: relative; }
.eintag-part10-main:after {position: absolute; content: ""; top: -78%; right: -14%; background-image: url(../gfx/Kreis_5.svg); width: 2005px; height: 1810px; z-index: -2; background-repeat: no-repeat; background-size: cover; }
.einprt10-left .einprt10-left-row2 h6 {font-family: 'Myriad Pro'; font-style: italic; font-size: 18px; line-height: 20px; margin: 0 0 10px; color: #4B4B4B; }
.einprt10-left .einprt10-left-row2 h3 {font-family: 'Myriad Pro'; font-weight: 600; font-size: 60px; color: #2B2E3D; line-height: 60px; margin: 0 0 40px; width: 50%;}
.einprt10-left .einprt10-left-row2 p {font-family: 'Myriad Pro'; font-weight: 300; color: #4B4B4B; font-size: 18px; line-height: 25px; margin: 0;}
.eintag-part10-inner:after {clear: both; display: block; content: ""; }
.eintag-part10-inner {padding: 100px 25px 0 75px; margin-bottom: 85px; }
.einprt10-left {float: left; width: 34%; }
.einprt10-right {float: left; width: 57%; margin-left: 9%; }
.einprt10-left-row1 {width: 190px; margin-left: 20px; margin-top: 25px; margin-bottom: 155px; }
.einprt10-right-row1:after {clear: both; content: ""; display: block; }
.einprt10-right-row1 {position: relative; left: -35%; margin-bottom: 20px; width: 120%; }
.einprt10-rtrw1-left {float: left; width: calc(39% - 10px); margin-right: 10px; box-shadow: 2px 2px 9px #0000004d; margin-top: 124px; }
.einprt10-rtrw1-right {float: left; width: calc(61% - 10px); margin-left: 10px; height: 337px; box-shadow: 2px 2px 9px #0000004d; }
.einprt10-rtrw1-right img {height: 100%; }
.einprt10-right-row2-inner {box-shadow: 2px 2px 9px #0000004d; }


.eintag-part2-main .container, 
.eintag-part3-main .container,
.eintag-part4-main .container,
.eintag-part5-main .container, 
.eintag-part6-main .container, 
.eintag-part7-main .container, 
.eintag-part8-main .container, 
.eintag-part9-main .container, 
.eintag-part10-main .container {
    position: relative;
}
.time-stamp {
    width: 138px;
    position: absolute; 
    /* bottom: 0;
    right: 15px;
    margin-left: auto;*/
    z-index: 9;
    margin-top: -100px;
    right: 15px;
}