@font-face {
    font-family: 'Myriad Web Pro';
    src: url('MyriadWebPro-Bold.eot');
    src: url('MyriadWebPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('MyriadWebPro-Bold.woff2') format('woff2'),
        url('MyriadWebPro-Bold.woff') format('woff'),
        url('MyriadWebPro-Bold.ttf') format('truetype'),
        url('MyriadWebPro-Bold.svg#MyriadWebPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

