<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>Ein Tag am Stadtsee</title>
        <meta content="am Stadtsee" name="description" />
        <meta content="am Stadtsee" name="author" />
        <link rel="shortcut icon" href="gfx/favicon.ico">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="css/style.css" rel="stylesheet" type="text/css">
        <link href="css/responsive.css" rel="stylesheet" type="text/css">
        <link href="css/owl.carousel.min.css" rel="stylesheet" type="text/css">
		<link href="css/owl.theme.default.min.css" rel="stylesheet" type="text/css">
		<link href="css/ekko-lightbox.css" rel="stylesheet">
    </head>
<body>
	<header class="main-menu not-sticky">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="gfx/AmStadtsee_Logo_black.png" style="width: 288px;">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="{{ __('Toggle navigation') }}">
                    <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">            	
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"> Überblick </a>
						    <ul class="dropdown-menu dropdown-menu-end fade-down">
							  	<li><a class="dropdown-item" href="#">Vorteil</a></li>
							  	<li><a class="dropdown-item" href="#">Profil</a></li>
							  	<li><a class="dropdown-item" href="#">Lage</a></li>
							  	<li><a class="dropdown-item" href="#">Pfullendorf</a></li>
							  	<li><a class="dropdown-item" href="#">Aktuelles</a></li>
							  	<li><a class="dropdown-item" href="#">Bauträger</a></li>
						    </ul>
						</li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Ein Tag am Stadtsee</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"> Meine Wohnung </a>
						    <ul class="dropdown-menu dropdown-menu-end fade-down">
							  	<li><a class="dropdown-item" href="#">Grundrisse</a></li>
							  	<li><a class="dropdown-item" href="#">Baubeschreibung</a></li>
							  	<li><a class="dropdown-item" href="#">Qualitätsanspruch</a></li>
							  	<li><a class="dropdown-item" href="#">Wünsche</a></li>
							  	<li><a class="dropdown-item" href="#">Besichtigung</a></li>
						    </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#footer_contact">Kontakt</a>
                        </li>                     
                    </ul>
                </div>
                <div class="tpmn">
                	<ul>
                		<li><a href="tel:07543933330"><i class="fa fa-phone"></i> 07543 93333-0</a></li>
                		<li><a href="mailto:info@am-stadtsee.de"><i class="fa fa-envelope-o"></i> info@am-stadtsee.de</a></li>
                	</ul>
                </div>
            </div>
        </nav>
    </header>
	<main>
		<div class="eintag-part1-main">
			<div class="container">
				<div class="eintag-part1-inner">
					<div class="einprt1-row1">
						<div class="row justify-content-around">
						    <div class="col-md-5">
								<h6>M(ein) Tag am Stadtsee</h6>
								<h2>Am Stadtsee gehen<br>die Uhren anders.</h2>
							</div>
							<div class="col-md-5"></div>
						</div>
						<div class="row justify-content-around">
						    <div class="col-md-5">
						      	<p>Vieles geht hier schneller. Das, was der Alltag so mit sich bringt. Weil die Wege kürzer sind. Und weil die Ziele am Ende dieser kurzen Wege ganz unkompliziert alles bieten, was zu einem guten Leben dazugehört.</p>
						    </div>
						    <div class="col-md-5">
						      	<p>Was tun mit der vielen gesparten Zeit? Am Stadtsee nehmen viele schöne Stunden ihren Anfang.</p>
						      	<p>Zu allererst in den hellen, schön geschnittenen Wohnungen mit ihren Gärten, Terrassen und Balkonen. Oder vor der Tür in der malerischen Altstadt. Und in der Natur ringsum mit ihren Sport- und Freizeitaktivitäten. Und natürlich am nahen Bodensee.</p>
						      	<p>In solchen Momenten gehen die Uhren hier herrlich langsam.</p>
						    </div>
						</div>
					</div>
					<div class="einprt1-row2">
						<div class="einprt1-row2-left">
							<div class="einprt1-rw2lft-row1">
								<div class="einprt1-rw2lft-row2-col12">
									<div class="einprt1-row2-col12-glr"><a href="gfx/AdobeStock_391181239_Bearbeitet.jpg" data-toggle="lightbox" data-gallery="gallery1"><img src="gfx/AdobeStock_391181239_Bearbeitet.jpg" class="img-fluid"></a></div>
								</div>
							</div>
							<div class="einprt1-rw2lft-row2">
								<div class="einprt1-rw2lft-row2-col7">
									<div class="einprt1-row2-col7-glr"><a href="gfx/AdobeStock_240879320_Bearbeitet.jpg" data-toggle="lightbox" data-gallery="gallery1"><img src="gfx/AdobeStock_240879320_Bearbeitet.jpg" class="img-fluid"></a></div>
								</div>
								<div class="einprt1-rw2lft-row2-col5">
									<div class="einprt1-row2-col5-glr"><a href="gfx/AdobeStock_278118101_Bearbeitet.jpg" data-toggle="lightbox" data-gallery="gallery1"><img src="gfx/AdobeStock_278118101_Bearbeitet.jpg" class="img-fluid"></a></div>
								</div>
							</div>
						</div>
						<div class="einprt1-row2-right">
							<div class="einprt1-row2-right-inner"><img src="gfx/Sonne_Icon.svg"></div>
						</div>
					</div>
					<div class="einprt1-row3">
						<div class="einprt1-row3-inner">
							<h6>6:45 Uhr</h6>
							<h3>Morgensonne kitzelt.</h3>
							<p>luxusmorgen. espresso auf der terrasse, die enten schnattern vom stadtsee heruber</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="eintag-part2-main">
			<div class="container">
				<div class="eintag-part2-inner">
					<div class="einprt2-left">
						<div class="einprt2-left-row1"><img src="gfx/backpack.svg"></div>
						<div class="einprt2-left-row2">
							<h6>7:25 Uhr</h6>
							<h3>Macht’s gut, ihr zwei!</h3>
							<p>Kinder zur Schule bringen? Bitte was? Schaffen die beiden ganz alleine in Minutenschnelle. Grundschule zu Fuß, Gymnasium mit dem Fahrrad.</p>
						</div>
					</div>
					<div class="einprt2-right">
						<div class="einprt2-right-glr">
							<div class="einprt2-right-glr-left">
								<div class="glr-left-frst">
									<a href="gfx/AdobeStock_216791366_Bearbeitet.jpg" data-toggle="lightbox" data-gallery="gallery2"><img src="gfx/AdobeStock_216791366_Bearbeitet.jpg" class="img-fluid"></a>
								</div>
								<div class="glr-left-scnd">
									<a href="gfx/AdobeStock_292983407_Bearbeitet.jpg" data-toggle="lightbox" data-gallery="gallery2"><img src="gfx/AdobeStock_292983407_Bearbeitet.jpg" class="img-fluid"></a>
								</div>
							</div>
							<div class="einprt2-right-glr-right">
								<div class="glr-right-frst">
									<a href="gfx/AdobeStock_221161817_Bearbeitet.jpg" data-toggle="lightbox" data-gallery="gallery2"><img src="gfx/AdobeStock_221161817_Bearbeitet.jpg" class="img-fluid"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="time-stamp">
					<img src="gfx/20_Min_Gespart.svg" class="img-fluid">
				</div>
			</div>
		</div>
		<div class="eintag-part3-main">
			<div class="container">
				<div class="eintag-part3-inner">
					<div class="einprt3-row1">
						<div class="einprt3-row1-left">
							<img src="gfx/brezel.svg">
						</div>
						<div class="einprt3-row1-right">
							<h6>7:28 Uhr</h6>
							<h3>Sonntag am Dienstag.</h3>
							<p>Ein Hauch Wochenende: Alles frisch vom Bäcker. Eine Sache von nicht mal zehn Minuten.</p>
						</div>
					</div>
					<div class="einprt3-row2">
						<div class="einprt3-row2-left">
							<div class="einprt3-glr-left">
								<div class="einprt3-left-frst">
									<a href="gfx/AdobeStock_25216783_Bearbeitet.jpg" data-toggle="lightbox" data-gallery="gallery3"><img src="gfx/AdobeStock_25216783_Bearbeitet.jpg" class="img-fluid"></a>
								</div>
							</div>
							<div class="einprt3-glr-right">
								<div class="einprt3-right-frst">
									<a href="gfx/AdobeStock_259334081_Bearbeitet.jpg" data-toggle="lightbox" data-gallery="gallery3"><img src="gfx/AdobeStock_259334081_Bearbeitet.jpg" class="img-fluid"></a>
								</div>
								<div class="einprt3-right-scnd">
									<a href="gfx/AdobeStock_404120034_Bearbeitet.jpg" data-toggle="lightbox" data-gallery="gallery3"><img src="gfx/AdobeStock_404120034_Bearbeitet.jpg" class="img-fluid"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="time-stamp">
					<img src="gfx/30_Min_Gespart.svg" class="img-fluid">
				</div>
			</div>
		</div>
		<div class="eintag-part4-main">
			<div class="container">
				<div class="eintag-part4-inner">
					<div class="einprt4-row1">
						<div class="einprt4-row1-inner"> <img src="gfx/wlan-router.svg" class="img-fluid"> </div>
					</div>
					<div class="einprt4-row2">
						<div class="einprt4-left">
							<div class="einprt4-left-row1">
								<h6>8:00 Uhr</h6>
								<h3>Wer macht Homeoffice?</h3>
								<p>Lieblingsmensch entscheidet sich fürs Büro. Das Breitband-Internet hätte aber auch locker für beide gereicht.</p>
							</div>
							<div class="einprt4-left-row2">
								<a href="gfx/AdobeStock_163822761_Bearbeitet.jpg" data-toggle="lightbox" data-gallery="gallery4"><img src="gfx/AdobeStock_163822761_Bearbeitet.jpg" class="img-fluid"></a>
							</div>
						</div>
						<div class="einprt4-right">
							<a href="gfx/AdobeStock_273767150_Bearbeitet.jpg" data-toggle="lightbox" data-gallery="gallery4"><img src="gfx/AdobeStock_273767150_Bearbeitet.jpg" class="img-fluid"></a>
						</div>
					</div>
				</div>
				<div class="time-stamp">
					<img src="gfx/30_Min_Gespart.svg" class="img-fluid">
				</div>
			</div>
		</div>
		<div class="eintag-part5-main">
			<div class="container">
				<div class="eintag-part5-inner">
					<div class="einprt5-row1">
						<div class="einprt5-row1-inner"> <img src="gfx/Marktdaten.svg" class="img-fluid"> </div>
					</div>
					<div class="einprt5-row2">
						<div class="einprt5-left">
							<div class="einprt5-left-inner">
								<div class="einprt5-left-col4">
									<a href="gfx/AdobeStock_313222642_Bearbeitet.jpg" data-toggle="lightbox" data-gallery="gallery5"><img src="gfx/AdobeStock_313222642_Bearbeitet.jpg" class="img-fluid"></a>
								</div>
								<div class="einprt5-left-col8">
									<div class="einprt5-left-col8-glr1">
										<a href="gfx/AdobeStock_404089455_Bearbeitet.jpg" data-toggle="lightbox" data-gallery="gallery5"><img src="gfx/AdobeStock_404089455_Bearbeitet.jpg" class="img-fluid"></a>
									</div>
									<div class="einprt5-left-col8-glr2">
										<a href="gfx/AdobeStock_219423088_Bearbeitet.jpg" data-toggle="lightbox" data-gallery="gallery5"><img src="gfx/AdobeStock_219423088_Bearbeitet.jpg" class="img-fluid"></a>
									</div>
								</div>
							</div>
						</div>
						<div class="einprt5-right">
							<div class="einprt5-right-inner">
								<h6>10:37 Uhr</h6>
								<h3>Kurz mal die Marktdaten checken.</h3>
								<p>Mails erledigt. Noch gut 20 Minuten bis zum Videocall. Zeit für ein paar flotte Schritte. Stadtgarten? Wochenmarkt! Vitamine für den Rest der Woche.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="time-stamp">
					<img src="gfx/45_Min_Gespart.svg" class="img-fluid">
				</div>
			</div>
		</div>
		<div class="eintag-part6-main">
			<div class="container">
				<div class="eintag-part6-inner">
					<div class="einprt6-row1">
						<div class="einprt6-row1-inner"> <img src="gfx/spaghetti.svg" class="img-fluid"> </div>
					</div>
					<div class="einprt6-row2">
						<div class="einprt6-left">
							<div class="einprt6-left-inner">
								<h6>12:40 Uhr</h6>
								<h3>Subito!</h3>
								<p>Mittagessen, die Kinder dürfen sich was wünschen. Pasta, jede Wette? Also rasch zwei Häuser weiter im vermutlich kleinsten italienischen Feinkostladen nördlich der Alpen den wie immer großartigen Parmesan holen.</p>
							</div>
						</div>
						<div class="einprt6-right">
							<div class="einprt6-right-inner">
								<a href="gfx/AdobeStock_232715886_Bearbeitet.jpg" data-toggle="lightbox" data-gallery="gallery6"><img src="gfx/AdobeStock_232715886_Bearbeitet.jpg" class="img-fluid"></a>
							</div>
						</div>
					</div>
					<div class="einprt6-row3">
						<div class="einprt6-row3-inner">
							<a href="gfx/AdobeStock_266422487_Bearbeitet.jpg" data-toggle="lightbox" data-gallery="gallery6"><img src="gfx/AdobeStock_266422487_Bearbeitet.jpg" class="img-fluid"></a>
						</div>
					</div>
				</div>
				<div class="time-stamp">
					<img src="gfx/50_Min_Gespart.svg" class="img-fluid">
				</div>
			</div>
		</div>
		<div class="eintag-part7-main">
			<div class="container">
				<div class="eintag-part7-inner">
					<div class="einprt7-row1">
						<div class="einprt7-row1-inner"> <img src="gfx/Sparen.svg" class="img-fluid"> </div>
					</div>
					<div class="einprt7-row2">
						<div class="einprt7-left">
							<div class="einprt7-left-inner">
								<a href="gfx/AdobeStock_132862742_Bearbeitet.jpg" data-toggle="lightbox" data-gallery="gallery7"><img src="gfx/AdobeStock_132862742_Bearbeitet.jpg" class="img-fluid"></a>
							</div>
						</div>
						<div class="einprt7-right">
							<div class="einprt7-right-inner">
								<h6>15:00 Uhr</h6>
								<h3>Tschüss Zweitwagen.</h3>
								<p>Früher, vor dem Leben am Stadtsee, hieß es um diese Tageszeit: Taxidienst für die Kinder. Und jetzt? Musikschule, Freibad, sogar Zahnspange kontrollieren beim Kieferorthopäden: alles zu Fuß.</p>
							</div>
						</div>
					</div>
					<div class="einprt7-row3">
						<div class="einprt7-row3-inner">
							<a href="gfx/AdobeStock_287522460_Bearbeitet.jpg" data-toggle="lightbox" data-gallery="gallery7"><img src="gfx/AdobeStock_287522460_Bearbeitet.jpg" class="img-fluid"></a>
						</div>
					</div>
				</div>
				<div class="time-stamp">
					<img src="gfx/85_Min_Gespart.svg" class="img-fluid">
				</div>
			</div>
		</div>
		<div class="eintag-part8-main">
			<div class="container">
				<div class="eintag-part8-inner">
					<div class="einprt8-row1">
						<div class="einprt8-row1-inner"> <img src="gfx/dumbbell.svg" class="img-fluid"> </div>
					</div>
					<div class="einprt8-row2">
						<div class="einprt8-left">
							<div class="einprt8-left-inner">
								<h6>16:11 Uhr</h6>
								<h3>Leichte Übung.</h3>
								<p>Spontan rüber ins Fitnessstudio? Geschafft in weniger als 5 Minuten, ohne erhöhten Puls. Schon schwieriger: Auf dem Rückweg nicht zum Eiscafé abbiegen.</p>
							</div>
						</div>
						<div class="einprt8-right">
							<div class="einprt8-right-inner">
								<div class="einprt8-right-glr-left">
									<div class="einprt8-glr-left-frst">
										<a href="gfx/AdobeStock_138056099_Bearbeitet.jpg" data-toggle="lightbox" data-gallery="gallery8"><img src="gfx/AdobeStock_138056099_Bearbeitet.jpg" class="img-fluid"></a>
									</div>
									<div class="einprt8-glr-left-scnd">
										<a href="gfx/AdobeStock_48659291_Bearbeitet.jpg" data-toggle="lightbox" data-gallery="gallery8"><img src="gfx/AdobeStock_48659291_Bearbeitet.jpg" class="img-fluid"></a>
									</div>
								</div>
								<div class="einprt8-right-glr-right">
									<div class="einprt8-glr-right-frst">
										<a href="gfx/AdobeStock_167207988_Bearbeitet.jpg" data-toggle="lightbox" data-gallery="gallery8"><img src="gfx/AdobeStock_167207988_Bearbeitet.jpg" class="img-fluid"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="time-stamp">
					<img src="gfx/100_Min_Gespart.svg" class="img-fluid">
				</div>
			</div>
		</div>
		<div class="eintag-part9-main">
			<div class="container">
				<div class="eintag-part9-inner">
					<div class="einprt9-left">
						<a href="gfx/AdobeStock_251518259_Bearbeitet.jpg" data-toggle="lightbox" data-gallery="gallery9"><img src="gfx/AdobeStock_251518259_Bearbeitet.jpg" class="img-fluid"></a>
					</div>
					<div class="einprt9-right">
						<div class="einprt9-row1"> <img src="gfx/bicycle.svg" class="img-fluid"> </div>
						<div class="einprt9-row2">
							<h6>17:50 Uhr</h6>
							<h3>Stau ist was fürs Radio.</h3>
							<p>WhatsApp vom Lieblingsmensch: Mache Feierabend. Zehn Minuten später zuhause.</p>
						</div>
					</div>
				</div>
				<div class="time-stamp">
					<img src="gfx/120_Min_Gespart.svg" class="img-fluid">
				</div>
			</div>
		</div>
		<div class="eintag-part10-main">
			<div class="container">
				<div class="eintag-part10-inner">
					<div class="einprt10-left">
						<div class="einprt10-left-row1"> <img src="gfx/anker.svg" class="img-fluid"> </div>
						<div class="einprt10-left-row2">
							<h6>18:07 Uhr</h6>
							<h3>See, See oder See?</h3>
							<p>Der Familienrat tagt: Spaziergang in die Altstadt, Pizza holen, entspannter Abend am Stadtsee? Oder mit den Rädern zum Seepark, auf der Terrasse essen? Stadtsee. Seepark. Stadtsee! Seepark … genau zur rechten Zeit rufen die Freude an: Kommt Ihr spontan mit nach Überlingen? Abstimmung: Heute macht der Bodensee das Rennen. Halbe Stunde später sind alle dort. Lässt sich gesparte Zeit schöner eintauschen?</p>
						</div>
					</div>
					<div class="einprt10-right">
						<div class="einprt10-right-row1">
							<div class="einprt10-rtrw1-left">
								<a href="gfx/DSC_2644-2-Kopie-1_Bearbeitet.jpg" data-toggle="lightbox" data-gallery="gallery10"><img src="gfx/DSC_2644-2-Kopie-1_Bearbeitet.jpg" class="img-fluid"></a>
							</div>
							<div class="einprt10-rtrw1-right">
								<a href="gfx/AdobeStock_93655366_Bearbeitet.jpg" data-toggle="lightbox" data-gallery="gallery10"><img src="gfx/AdobeStock_93655366_Bearbeitet.jpg" class="img-fluid"></a>
							</div>
						</div>
						<div class="einprt10-right-row2">
							<div class="einprt10-right-row2-inner">
								<a href="gfx/AdobeStock_404120199_Bearbeitet.jpg" data-toggle="lightbox" data-gallery="gallery10"><img src="gfx/AdobeStock_404120199_Bearbeitet.jpg" class="img-fluid"></a>
							</div>
						</div>
					</div>
				</div>
				<div class="time-stamp">
					<img src="gfx/120_Min_MehrLeben.svg" class="img-fluid">
				</div>
			</div>
		</div>
	</main>
	<footer id="footer">
		<div class="ftr-row">
			<div class="container">
				<div class="ftr-row-inner">
					<div class="ftr-left">
						<a href="#"><img src="gfx/AmStadtsee_Logo_white.svg"></a>
					</div>
					<div class="ftr-right">
						<div class="ftr-right-row1">
							<ul>
								<li><a href="tel:07543933330">07543 93333-0</a></li>
								<li><a href="mailto:info@am-stadtsee.de">info@am-stadtsee.de</a></li>
							</ul>
						</div>
						<div class="ftr-right-row2">
							<ul>
								<li><a href="#">Impressum</a></li>
								<li><a href="#">Datenschutz</a></li>
								<li><a href="#">Stand 2021</a></li>
							</ul>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/ekko-lightbox.js"></script>
        <script src="js/jquery.sticky.js" type="text/javascript"></script>
        <script src="js/jquery.headersticky.js"></script>
        <script type="text/javascript">
			$(document).on("click", '[data-toggle="lightbox"]', function(event) {
			  	event.preventDefault();
			  	$(this).ekkoLightbox();
			});

			$(document).ready(function(){
				$(".main-menu").sticky({topSpacing:0});
			});

			$(function(){ 
			  	$('.time-stamp').timesticky( {topSpacing: 180,bottomSpacing:$("#footer").outerHeight(true)} );
			});
        </script>
	</footer>
</body>
</html>