<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>Impressum</title>
        <meta content="am Stadtsee" name="description" />
        <meta content="am Stadtsee" name="author" />
        <link rel="shortcut icon" href="gfx/favicon.ico">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="css/style.css" rel="stylesheet" type="text/css">
        <link href="css/responsive.css" rel="stylesheet" type="text/css">
        <link href="css/owl.carousel.min.css" rel="stylesheet" type="text/css">
		<link href="css/owl.theme.default.min.css" rel="stylesheet" type="text/css">
		<link href="css/ekko-lightbox.css" rel="stylesheet">
    </head>
<body>
	<header class="main-menu not-sticky">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="gfx/AmStadtsee_Logo_black.png" style="width: 288px;">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="{{ __('Toggle navigation') }}">
                    <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">            	
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"> Überblick </a>
						    <ul class="dropdown-menu dropdown-menu-end fade-down">
							  	<li><a class="dropdown-item" href="#">Vorteil</a></li>
							  	<li><a class="dropdown-item" href="#">Profil</a></li>
							  	<li><a class="dropdown-item" href="#">Lage</a></li>
							  	<li><a class="dropdown-item" href="#">Pfullendorf</a></li>
							  	<li><a class="dropdown-item" href="#">Aktuelles</a></li>
							  	<li><a class="dropdown-item" href="#">Bauträger</a></li>
						    </ul>
						</li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Ein Tag am Stadtsee</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"> Meine Wohnung </a>
						    <ul class="dropdown-menu dropdown-menu-end fade-down">
							  	<li><a class="dropdown-item" href="#">Grundrisse</a></li>
							  	<li><a class="dropdown-item" href="#">Baubeschreibung</a></li>
							  	<li><a class="dropdown-item" href="#">Qualitätsanspruch</a></li>
							  	<li><a class="dropdown-item" href="#">Wünsche</a></li>
							  	<li><a class="dropdown-item" href="#">Besichtigung</a></li>
						    </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#footer_contact">Kontakt</a>
                        </li>                     
                    </ul>
                </div>
                <div class="tpmn">
                	<ul>
                		<li><a href="tel:07543933330"><i class="fa fa-phone"></i> 07543 93333-0</a></li>
                		<li><a href="mailto:info@am-stadtsee.de"><i class="fa fa-envelope-o"></i> info@am-stadtsee.de</a></li>
                	</ul>
                </div>
            </div>
        </nav>
    </header>
	<main>
		<div class="impre-part1-main">
			<div class="container">
				<div class="impre-part1-inner">
					<h1>Impressum</h1>
					<div class="mb-4">
						<p>Anschrift / Kontakt:</p>
						<p>BiNova Immobilien GmbH & Co. KG</p>
						<p>Bodan-Werft 4 </p>
						<p>88079 Kressbronn</p> 
						<p>Deutschland </p>
						<p>Telefon: +49 7543 93333-16 </p>
						<b>E-Mail: sabrina.schmeh@binova-gruppe.de</b>
					</div>
					<div class="mb-4">
						<p>Handelsregister: </p>
						<p>BiNova Immobilien GmbH & Co. KG - Amtsgericht Ulm HRA-Nr: 724775 </p>
					</div>
					<div class="mb-4">
						<p>Steuernummer: </p>
						<p>BiNova Immobilien GmbH & Co. KG - Finanzamt Ulm </p>
						<p>UID: DE 305 061 259 </p>
					</div>
					<div class="mb-4">
						<p>Geschäftsführer:</p>
						<p>Willi Schmeh </p>
						<p>Michael Kromphorn </p>
					</div>
					<div class="mb-4">
						<p>Copyright: </p>
						<p>Sämtliche Texte, Bilder und andere in der Website veröffentlichten Informationen unterliegen - sofern nicht anders gekennzeichnet - dem Copyright der BiNova Immobilien GmbH & Co. KG. Jede Vervielfältigung, Verbreitung, Speicherung, Sendung und Wieder- bzw. Weitergabe der Inhalte ist ohne schriftliche Genehmigung der BiNova Immobilien GmbH & Co. KG ausdrücklich untersagt. Weitere Informationen erhalten Sie unter oben stehender Adresse. </p>
					</div>
					<div class="mb-4">
						<p>Informationen zu Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle: </p>
						<p>Die BiNova Immobilien GmbH & Co. KG ist grundsätzlich nicht verpflichtet oder bereit, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen. </p>
					</div>
					<div class="mb-4">
						<p>Haftungsausschluss: </p>
						<p>Die BiNova Immobilien GmbH & Co. KG betont ausdrücklich, keinerlei Einfluss auf die Gestaltung und Inhalte der gelinkten Seiten zu haben. Daher distanziert sich die BiNova Immobilien GmbH & Co. KG hiermit ausdrücklich von allen Inhalten aller gelinkten Webseiten auf unserer gesamten Webseite inkl. aller Unterseiten und deren Unterlinks oder anderen Weiterleitungsmechanismen. Diese Erklärung gilt für alle, auf dieser Homepage ausgebrachten Links und für alle Inhalte der Seiten, zu denen Links, Banner oder sonstige Verknüpfungen führen. </p>
					</div>
					<div class="mb-4">
						<p>Verantwortlich für den Inhalt gemäß § 10 Absatz 3 MDStV: </p>
						<p>Willi Schmeh </p>
						<p>Geschäftsführer BiNova Immobilien GmbH & Co. KG</p>
					</div>
				</div>
			</div>
		</div>
		<div class="home-part6-main">
			<div class="home-part6-inner" style="background-image: url('gfx/address-map.png');"></div>
		</div>
		<div class="home-part7-main" id="footer_contact">
			<div class="container">
				<div class="home-part7-inner">
					<div class="home-part7-left">
						<div class="hmprt7-left-row1">
							<h2>Jetzt Kontakt aufnehmen.</h2>
							<p>Tio corposaped earcias ipienimin conseque voloribus et laut hariscimil ipsam laccuptae pereseque dolorum quae plignistia volorroribus maio. Pos conseque praerrum labor alit rerferr oruptatur accus estrum quam nis vent, consequunt vollescia nonsequatem hil inim es elit est untiaep ereicieni accatur si aut ut re, net eatio.</p> 
						</div>
						<div class="hmprt7-left-row2">
							<h6>BiNova Immobilien GmbH & Co. KG</h6>
							<p>Herzmanns 10<br>87448 Waltenhofen<br>binova-gruppe.de</p>
							<ul>
								<li><a href="tel:07543933330">07543 93333-0</a></li>
								<li><a href="mailto:info@am-stadtsee.de">info@am-stadtsee.de</a></li>
							</ul>							
						</div>
					</div>
					<div class="home-part7-right">
						<h4>Schreiben Sie uns.</h4>
						<div class="hmprt7-right-row1">
							<form>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<input type="text" name="vorname" class="form-control" placeholder="Vorname *">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<input type="text" name="nachname" class="form-control" placeholder="Nachname *">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<input type="email" name="vorname" class="form-control" placeholder="E-Mailadresse *">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<input type="text" name="nachname" class="form-control" placeholder="Telefon">
										</div>
									</div>
								</div>
								<div class="form-group">
									<select class="form-control">
										<option>Mein Interesse</option>
										<option>Kauf</option>
										<option>Miete</option>
										<option>Sonstiges</option>
									</select>
								</div>
								<div class="form-group">
									<input type="checkbox" name="newsletter" id="newsletter-chk">
									<label for="newsletter-chk">Ich möchte Ihren Newsletter erhalten</label>
								</div>
								<div class="form-group">
									<textarea class="form-control" placeholder="Anmurkungen:"></textarea>
								</div>
								<button type="submit">abschicken <i class="fa fa-long-arrow-right"></i></button>
							</form>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</main>
	<footer>
		<div class="ftr-row">
			<div class="container">
				<div class="ftr-row-inner">
					<div class="ftr-left">
						<a href="#"><img src="gfx/AmStadtsee_Logo_white.svg"></a>
					</div>
					<div class="ftr-right">
						<div class="ftr-right-row1">
							<ul>
								<li><a href="tel:07543933330">07543 93333-0</a></li>
								<li><a href="mailto:info@am-stadtsee.de">info@am-stadtsee.de</a></li>
							</ul>
						</div>
						<div class="ftr-right-row2">
							<ul>
								<li><a href="#">Impressum</a></li>
								<li><a href="#">Datenschutz</a></li>
								<li><a href="#">Stand 2021</a></li>
							</ul>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/ekko-lightbox.js"></script>
        <script src="js/jquery.headersticky.js"></script>
        
        <script type="text/javascript">
			$(document).on("click", '[data-toggle="lightbox"]', function(event) {
			  	event.preventDefault();
			  	$(this).ekkoLightbox();
			});

			$(document).ready(function(){
				$(".main-menu").sticky({topSpacing:0});
			});
        </script>
	</footer>
</body>
</html>