<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>Überblick</title>
        <meta content="am Stadtsee" name="description" />
        <meta content="am Stadtsee" name="author" />
        <link rel="shortcut icon" href="gfx/favicon.ico">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="css/style.css" rel="stylesheet" type="text/css">
        <link href="css/responsive.css" rel="stylesheet" type="text/css">
        <link href="css/owl.carousel.min.css" rel="stylesheet" type="text/css">
		<link href="css/owl.theme.default.min.css" rel="stylesheet" type="text/css">
		<link href="css/ekko-lightbox.css" rel="stylesheet">
    </head>
<body>
	<header class="main-menu not-sticky">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="gfx/AmStadtsee_Logo_black.png" class="ntstk-lg" style="width: 288px;">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="{{ __('Toggle navigation') }}">
                    <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">            	
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"> Überblick </a>
						    <ul class="dropdown-menu dropdown-menu-end fade-down">
							  	<li><a class="dropdown-item" href="#">Vorteil</a></li>
							  	<li><a class="dropdown-item" href="#">Profil</a></li>
							  	<li><a class="dropdown-item" href="#">Lage</a></li>
							  	<li><a class="dropdown-item" href="#">Pfullendorf</a></li>
							  	<li><a class="dropdown-item" href="#">Aktuelles</a></li>
							  	<li><a class="dropdown-item" href="#">Bauträger</a></li>
						    </ul>
						</li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Ein Tag am Stadtsee</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"> Meine Wohnung </a>
						    <ul class="dropdown-menu dropdown-menu-end fade-down">
							  	<li><a class="dropdown-item" href="#">Grundrisse</a></li>
							  	<li><a class="dropdown-item" href="#">Baubeschreibung</a></li>
							  	<li><a class="dropdown-item" href="#">Qualitätsanspruch</a></li>
							  	<li><a class="dropdown-item" href="#">Wünsche</a></li>
							  	<li><a class="dropdown-item" href="#">Besichtigung</a></li>
						    </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#footer_contact">Kontakt</a>
                        </li>                     
                    </ul>
                </div>
                <div class="tpmn">
                	<ul>
                		<li><a href="tel:07543933330"><i class="fa fa-phone"></i> 07543 93333-0</a></li>
                		<li><a href="mailto:info@am-stadtsee.de"><i class="fa fa-envelope-o"></i> info@am-stadtsee.de</a></li>
                	</ul>
                </div>
            </div>
        </nav>
    </header>
	<main>
		<div class="home-part1-main">
			<div class="container">
				<div class="home-part1-inner">
					<div class="home-slide owl-carousel owl-theme">
						<div class="item">
							<div class="slide-inner-item">
								<div class="hmprt1-slide-cont">
									<h2>Wenn Pfullendorf, dann Am stadtsee.</h2>
								</div>
								<div class="hmprt1-slide-img" style="background-image: url('gfx/Slide-img1.jpg');"></div>
							</div>
						</div>
						<div class="item">
							<div class="slide-inner-item">
								<div class="hmprt1-slide-cont">
									<h2>Wenn Pfullendorf, dann Am stadtsee.</h2>
								</div>
								<div class="hmprt1-slide-img" style="background-image: url('gfx/Slide-img1.jpg');"></div>
							</div>
						</div>
						<div class="item">
							<div class="slide-inner-item">
								<div class="hmprt1-slide-cont">
									<h2>Wenn Pfullendorf, dann Am stadtsee.</h2>
								</div>
								<div class="hmprt1-slide-img" style="background-image: url('gfx/Slide-img1.jpg');"></div>
							</div>
						</div>
					</div>
					<div class="slider-counter"></div>
				</div>
			</div>
		</div>
		<div class="home-part2-main">
			<div class="container">
				<div class="home-part2-inner">
					<div class="hmprt2-left">
						<div class="hmprt2-left-ttl">
							<h6>Gute Lage. Gutes Leben.</h6>
							<h3>Herz und Vernunft<br>ziehen zusammen.</h3>
						</div>
						<div class="hmprt2-left-glr">
							<div class="hmprt2-left-glr-left">
								<div class="glr-left-frst">
									<a href="gfx/hmprt3-row2-img2.jpg" data-toggle="lightbox" data-gallery="gallery"><img src="gfx/hmprt3-row2-img2.jpg" class="img-fluid"></a>
								</div>
								<div class="glr-left-scnd">
									<a href="gfx/AdobeStock_404088777.jpeg" data-toggle="lightbox" data-gallery="gallery"><img src="gfx/AdobeStock_404088777.jpg" class="img-fluid"></a>
								</div>
							</div>
							<div class="hmprt2-left-glr-right">
								<div class="glr-right-frst">
									<a href="gfx/AdobeStock_404120034.jpeg" data-toggle="lightbox" data-gallery="gallery"><img src="gfx/AdobeStock_404120034.jpg" class="img-fluid"></a>
								</div>
							</div>
						</div>
					</div>
					<div class="hmprt2-right">
						<p>Hier steht aktuell noch Blindtext. Hier steht aktuell noch Blindtext. Hier steht aktuell noch Blindtext. Hier steht aktuell noch Blindtext.</p>

						<p>Hier steht aktuell noch Blindtext. Hier steht aktuell noch Blindtext. Hier steht aktuell noch Blindtext. Hier steht aktuell noch Blindtext. Hier steht aktuell noch Blindtext. Hier steht aktuell noch Blindtext. Hier steht aktuell noch Blindtext. Hier steht aktuell noch Blindtext. Hier steht aktuell noch Blindtext. Hier steht aktuell noch Blindtext.</p>

						<p>Hier steht aktuell noch Blindtext. Hier steht aktuell noch Blindtext. Hier steht aktuell noch Blindtext. Hier steht aktuell noch Blindtext. Hier steht aktuell noch Blindtext. Hier steht aktuell noch Blindtext. Hier steht aktuell noch Blindtext. Hier steht aktuell noch Blindtext.</p>

						<h5>Zwischenüberschrift</h5>
						<p>Hier steht aktuell noch Blindtext. Hier steht aktuell noch Blindtext. Hier steht aktuell noch Blindtext. Hier steht aktuell noch Blindtext. Hier steht aktuell noch Blindtext. Hier steht aktuell noch Blindtext.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="home-part3-main">
			<div class="container">
				<div class="home-part3-inner">
					<div class="hmprt3-row1">
						<h6>Die Architektur</h6>
						<h2>Sonne für alle.<br>Individualität für jeden.</h2>
					</div>
					<div class="hmprt3-row2">
						<div class="hmprt3-row2-left">
							<h5>26 Wohnungen mit<br>gehobener Ausstattung</h5>
							<p>Hier steht aktuell noch Blindtext. Hier steht aktuell noch Blindtext. Hier steht aktuell noch Blindtext. Hier steht aktuell noch Blindtext.</p>
							<ul>
								<li>Wohnflächen von 45 bis 170 qm</li>
								<li>Dachterrasse, Balkon oder Gartenterrasse</li>
								<li>Tiefgarage mit Aufzug</li>
							</ul>
							<p>Oluptincillam ipid mos apel ipid quis alisci berchil igenime ditaeribus acepudant, ut eum apitatius doluptios platistet audicto issimaxim doluptae.</p>
							<a href="#">Mehr erfahren <i class="fa fa-long-arrow-right"></i></a>
						</div>
						<div class="hmprt3-row2-right">
							<div class="hmprt3-row2-slide owl-carousel owl-theme">
								<div class="item">
									<div class="hmprt3-slide-img" style="background-image: url('gfx/hmprt3-row2-img1.jpg');"></div>
								</div>
								<div class="item">
									<div class="hmprt3-slide-img" style="background-image: url('gfx/hmprt3-row2-img2.jpg');"></div>
								</div>
								<div class="item">
									<div class="hmprt3-slide-img" style="background-image: url('gfx/hmprt3-row2-img1.jpg');"></div>
								</div>
								<div class="item">
									<div class="hmprt3-slide-img" style="background-image: url('gfx/hmprt3-row2-img2.jpg');"></div>
								</div>
							</div>
							<div class="hmprt3-row2-counter"></div>
						</div>
					</div>
					<div class="hmprt3-row3">
						<div class="hmprt3-row2-right">
							<div class="hmprt3-row3-slide owl-carousel owl-theme">
								<div class="item">
									<div class="hmprt3-slide-img" style="background-image: url('gfx/hmprt3-row2-img1.jpg');"></div>
								</div>
								<div class="item">
									<div class="hmprt3-slide-img" style="background-image: url('gfx/hmprt3-row2-img2.jpg');"></div>
								</div>
								<div class="item">
									<div class="hmprt3-slide-img" style="background-image: url('gfx/hmprt3-row2-img1.jpg');"></div>
								</div>
								<div class="item">
									<div class="hmprt3-slide-img" style="background-image: url('gfx/hmprt3-row2-img2.jpg');"></div>
								</div>
							</div>
							<div class="hmprt3-row3-counter"></div>
						</div>
						<div class="hmprt3-row2-left">
							<h5>26 Wohnungen mit<br>gehobener Ausstattung</h5>
							<p>Hier steht aktuell noch Blindtext. Hier steht aktuell noch Blindtext. Hier steht aktuell noch Blindtext. Hier steht aktuell noch Blindtext.</p>
							<ul>
								<li>Wohnflächen von 45 bis 170 qm</li>
								<li>Dachterrasse, Balkon oder Gartenterrasse</li>
								<li>Tiefgarage mit Aufzug</li>
							</ul>
							<p>Oluptincillam ipid mos apel ipid quis alisci berchil igenime ditaeribus acepudant, ut eum apitatius doluptios platistet audicto issimaxim doluptae.</p>
							<a href="#">Mehr erfahren <i class="fa fa-long-arrow-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="home-part4-main">
			<div class="container">
				<div class="home-part4-inner">
					<div class="hmprt4-row1">
						<h6>Wertbeständige Vorteile</h6>
						<h2>Hier ist es sehr vernünftig,<br>auf Ihr Herz zu hören.</h2>
						<p>Hier steht aktuell noch Blindtext. Hier steht aktuell noch Blindtext. Hier steht aktuell noch Blindtext. Hier steht aktuell noch Blindtext.</p>
					</div>
					<div class="hmprt4-row2">
						<div class="row">
							<div class="col-md-4">
								<div class="hmprt4-icon"><img src="gfx/Location_Icon.svg"></div>
								<div class="hmprt4-contant">
									<h4>Gute Lage</h4>
									<p>Hier steht aktuell noch Blindtext.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="hmprt4-icon"><img src="gfx/Sonne_Icon.svg"></div>
								<div class="hmprt4-contant">
									<h4>Bodentiefe Fenster</h4>
									<p>Hier steht aktuell noch Blindtext.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="hmprt4-icon"><img src="gfx/Parkett_Icon.svg"></div>
								<div class="hmprt4-contant">
									<h4>Hochwertiges Echtholzparkett</h4>
									<p>Hier steht aktuell noch Blindtext.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="hmprt4-icon"><img src="gfx/Thermometer_Icon.svg"></div>
								<div class="hmprt4-contant">
									<h4>Fußbodenheizung</h4>
									<p>Hier steht aktuell noch Blindtext.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="hmprt4-icon"><img src="gfx/Auto_Icon.svg"></div>
								<div class="hmprt4-contant">
									<h4>TG-Stellplatz garantiert</h4>
									<p>Hier steht aktuell noch Blindtext.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="hmprt4-icon"><img src="gfx/Generationsgerecht_Icon.svg"></div>
								<div class="hmprt4-contant">
									<h4>Generationengerecht</h4>
									<p>Hier steht aktuell noch Blindtext.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="hmprt4-icon"><img src="gfx/HausmeisterService_Icon.svg"></div>
								<div class="hmprt4-contant">
									<h4>Hausmeisterservice</h4>
									<p>Hier steht aktuell noch Blindtext.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="hmprt4-icon"><h4>+</h4></div>
								<div class="hmprt4-contant">
									<h4>… und noch vieles mehr</h4>
									<p>Hier steht aktuell noch Blindtext.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="hmprt4-row3">
						<div class="hmprt4-row3-inner">
							<h3>Haben wir ihr Interesse geweckt?</h3>
							<p>Sie benötigen weitere Informationen oder wünschen ein Beratungsgespräch?</p>
							<p>Schreiben Sie uns, wir melden uns umgehend bei Ihnen.</p>
							<a href="#">Kontaktformular <i class="fa fa-arrow-circle-o-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="home-part5-main">
			<div class="container">
				<div class="home-part5-inner">
					<div class="hmprt5-top-img" style="background-image: url('gfx/Unser_Bautraeger_Kreise.png');"></div>
					<div class="hmprt5-left d-flex">
						<div class="hmprt5-left-inner align-self-end">
							<p>Weitere Informationen:</p>
							<a href="#"><i class="fa fa-long-arrow-right"></i> binova-gruppe.de</a>
						</div>
					</div>
					<div class="hmprt5-right">
						<h6>Wissenswertes</h6>
						<h3>Unser Bauträger</h3>
						<p>Tio corposaped earcias ipienimin conseque voloribus et laut hariscimil ipsam laccuptae pereseque dolorum quae plignistia volorroribus maio. Pos conseque praerrum labor alit rerferr oruptatur accus estrum. Tio corposaped earcias ipienimin conseque voloribus et laut hariscimil ipsam laccuptae pereseque dolorum quae plignistia volorroribus maio. Pos conseque praerrum labor alit rerferr oruptatur accus estrum.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="home-part6-main">
			<div class="home-part6-inner" style="background-image: url('gfx/address-map.png');"></div>
		</div>
		<div class="home-part7-main" id="footer_contact">
			<div class="container">
				<div class="home-part7-inner">
					<div class="home-part7-left">
						<div class="hmprt7-left-row1">
							<h2>Jetzt Kontakt aufnehmen.</h2>
							<p>Tio corposaped earcias ipienimin conseque voloribus et laut hariscimil ipsam laccuptae pereseque dolorum quae plignistia volorroribus maio. Pos conseque praerrum labor alit rerferr oruptatur accus estrum quam nis vent, consequunt vollescia nonsequatem hil inim es elit est untiaep ereicieni accatur si aut ut re, net eatio.</p> 
						</div>
						<div class="hmprt7-left-row2">
							<h6>BiNova Immobilien GmbH & Co. KG</h6>
							<p>Herzmanns 10<br>87448 Waltenhofen<br>binova-gruppe.de</p>
							<ul>
								<li><a href="tel:07543933330">07543 93333-0</a></li>
								<li><a href="mailto:info@am-stadtsee.de">info@am-stadtsee.de</a></li>
							</ul>							
						</div>
					</div>
					<div class="home-part7-right">
						<h4>Schreiben Sie uns.</h4>
						<div class="hmprt7-right-row1">
							<form>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<input type="text" name="vorname" class="form-control" placeholder="Vorname *">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<input type="text" name="nachname" class="form-control" placeholder="Nachname *">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<input type="email" name="vorname" class="form-control" placeholder="E-Mailadresse *">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<input type="text" name="nachname" class="form-control" placeholder="Telefon">
										</div>
									</div>
								</div>
								<div class="form-group">
									<select class="form-control">
										<option>Mein Interesse</option>
										<option>Kauf</option>
										<option>Miete</option>
										<option>Sonstiges</option>
									</select>
								</div>
								<div class="form-group">
									<input type="checkbox" name="newsletter" id="newsletter-chk">
									<label for="newsletter-chk">Ich möchte Ihren Newsletter erhalten</label>
								</div>
								<div class="form-group">
									<textarea class="form-control" placeholder="Anmurkungen:"></textarea>
								</div>
								<button type="submit">abschicken <i class="fa fa-long-arrow-right"></i></button>
							</form>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</main>
	<footer>
		<div class="ftr-row">
			<div class="container">
				<div class="ftr-row-inner">
					<div class="ftr-left">
						<a href="#"><img src="gfx/AmStadtsee_Logo_white.svg"></a>
					</div>
					<div class="ftr-right">
						<div class="ftr-right-row1">
							<ul>
								<li><a href="tel:07543933330">07543 93333-0</a></li>
								<li><a href="mailto:info@am-stadtsee.de">info@am-stadtsee.de</a></li>
							</ul>
						</div>
						<div class="ftr-right-row2">
							<ul>
								<li><a href="#">Impressum</a></li>
								<li><a href="#">Datenschutz</a></li>
								<li><a href="#">Stand 2021</a></li>
							</ul>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/ekko-lightbox.js"></script>
        <script src="js/jquery.headersticky.js"></script>
        <script type="text/javascript">
        	$('.home-slide').on('initialized.owl.carousel changed.owl.carousel', function(e) {
			    if (!e.namespace)  {
			      return;
			    }
			    var carousel = e.relatedTarget;
			    $('.slider-counter').text(carousel.relative(carousel.current()) + 1 + ' | ' + carousel.items().length);
			}).owlCarousel({
			    items: 1,
			    loop:true,
			    margin:15,		  	
			  	responsive:{
			        0:{
			            dots: true,
			            nav:false
			        },
			        600:{
			            dots: true,
			            nav:false
			        },
			        767:{
			            nav: true,
			  			dots: false,
			  			navText: ['<span class="fa fa-long-arrow-left"></span>','<span class="fa fa-long-arrow-right"></span>'],
			        }
			    }
			});

			$('.hmprt3-row2-slide').on('initialized.owl.carousel changed.owl.carousel', function(e) {
			    if (!e.namespace)  {
			      return;
			    }
			    var carousel = e.relatedTarget;
			    $('.hmprt3-row2-counter').text(carousel.relative(carousel.current()) + 1 + ' | ' + carousel.items().length);
			}).owlCarousel({
			    items: 1,
			    loop:true,
			    margin:15,
			    nav: true,
			  	dots: false,
			  	navText: ['<span class="fa fa-long-arrow-left"></span>','<span class="fa fa-long-arrow-right"></span>'],
			});

			$('.hmprt3-row3-slide').on('initialized.owl.carousel changed.owl.carousel', function(e) {
			    if (!e.namespace)  {
			      return;
			    }
			    var carousel = e.relatedTarget;
			    $('.hmprt3-row3-counter').text(carousel.relative(carousel.current()) + 1 + ' | ' + carousel.items().length);
			}).owlCarousel({
			    items: 1,
			    loop:true,
			    margin:15,
			    nav: true,
			  	dots: false,
			  	navText: ['<span class="fa fa-long-arrow-left"></span>','<span class="fa fa-long-arrow-right"></span>'],
			});

			$(document).on("click", '[data-toggle="lightbox"]', function(event) {
			  	event.preventDefault();
			  	$(this).ekkoLightbox();
			});

			$(document).ready(function(){
				$(".main-menu").sticky({topSpacing:0});
			});
        </script>
	</footer>
</body>
</html>