@font-face {
    font-family: 'Myriad Web Pro';
    src: url('MyriadWebPro.eot');
    src: url('MyriadWebPro.eot?#iefix') format('embedded-opentype'),
        url('MyriadWebPro.woff2') format('woff2'),
        url('MyriadWebPro.woff') format('woff'),
        url('MyriadWebPro.ttf') format('truetype'),
        url('MyriadWebPro.svg#MyriadWebPro') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

